// ##### adminbar Component ##### //

.c-adminbar {
  height: 3em;
  padding: 0.5em;
  background: $color-dark-gray;
  color: $color-white;
  margin: -10px; // offsets body style
}

.c-adminbar__logged-in-msg {
  display: inline-block;
  margin-left: 10px;
  float: right;
}

.c-adminbar__edit-pg {
  float: left;
}

.c-adminbar__edit-pg-button {
  color: $color-black;
}
