// ##### adminbar Component ##### //

.c-adminbar {
  background: $color-dark-gray;
  color: $color-white;
  margin: -10px -10px -10px -10px; /* reverses the padding in <body> */
  padding: 0.5em;
  height: 2em;
}

.c-adminbar__loggedInMsg {
  float: left;
}

.c-adminbar__editPg {
  float: right;
}

.c-adminbar__editPgButton {
  color: $color-black;
}
