// ##### Alert Objects ##### //

.o-alert1 {
  display: inline-block;
  margin-right: $spacing-sm;
  margin-bottom: $spacing-sm;
  padding: 0.5em;
  border: 1px solid $color-light-gray;
  font-size: 0.9em;
}
