// ##### Author List Component ##### //

.c-authorlist {
  margin-bottom: $spacing-md;

  @include bp(screen1) {
    display: flex;
  }

}

.c-authorlist__year {
  align-self: flex-start;
  margin-right: $spacing-sm;
  padding-right: $spacing-sm;
  border-right: 1px solid $color-black;
}

%c-authorlist__item {
    display: inline-block;

    &:nth-last-child(n+4) {

      &::after {
        content: '\00a0'; // no-break space
      }

    }

    a {
      @extend %o-textlink__secondary;
    }
}

.c-authorlist__list {
  @extend %u-reset-list-styles;
  max-height: 3.2em; // truncate beyond 3 lines per jquery.dotdotdot
  overflow: hidden; // hide text beyond max-height

  li {
    @extend %c-authorlist__item;
  }

  li:not(.c-authorlist__end) {
    @extend %c-authorlist__item;

    &:nth-last-child(n+3) {

      &::after {
      content: ';\00a0'; // semicolon with no-break space
      }

    }

  }

}

.c-authorlist__heading {
  font-size: 1.03em;
  font-weight: bold; 
}

.c-authorlist__list .c-authorlist__begin:nth-of-type(n+2)::before {
  content: '\00a0';
}

.c-authorlist__list-more-link {
  @extend %o-textlink__secondary;

  &::before {
    display: inline-block;
    content: ';\00a0';
  }

}
