// ##### Author List Component ##### //

.c-authorlist {
  margin-bottom: $spacing-md;

  @include bp(screen1) {
    display: flex;
  }

}

.c-authorlist__year {
  align-self: flex-start;
  margin-right: $spacing-sm;
  padding-right: $spacing-sm;
  border-right: 1px solid $color-black;
}

.c-authorlist__list {
  @extend %no-bullet-ul;
  max-height: 3.2em; // truncate beyond 3 lines per jquery.dotdotdot
  overflow: hidden; // hide content that jquery.dotdotdot doesn't truncate

  li {
    display: inline-block;

    &:nth-last-child(n+4) {

      &::after {
        content: '\00a0'; // no-break space
      }

    }

    &:nth-last-child(n+3) {

      &::after {
      content: ';\00a0'; // semicolon with no-break space
      }

    }

    a {
      @extend %o-textlink__secondary;
    }

  }

}

.c-authorlist__list-more-link {
  @extend %o-textlink__secondary;

  &::before {
    display: inline-block;
    content: ';\00a0';
  }

}
