// ##### Media Query Breakpoints ##### //

// These Sass variables also get parsed to JSON key/value pairs in js/breakpoints.json for media query use in JSX components

$screen1: 480px;
$screen2: 760px;
$screen3: 870px;
$screen4: 1280px;
$screen5: 1400px;
