// ##### Breadcrumb Component ##### //

.c-breadcrumb {
  margin-bottom: $spacing-sm;

  a {
    display: inline-flex;
    margin-bottom: $spacing-sm;
    color: $color-black;
    font-size: 1.1em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:not(:last-child) {

      // scss-lint:disable NestingDepth
      &::after {
        width: 1em;
        height: 1em;
        margin: 0 0.3em;
        background: url('../images/icon_angle-right-black.svg') no-repeat center / cover;
        content: '';
      }

    }

  }

}

.c-breadcrumb-link--active {
  font-weight: bold;
}
