// ##### Button Objects ##### //

%o-button {
  min-height: $element-height;
  padding: 5px 10px;
  border: none;
  border-radius: $round-corner;
  background: none;
}

// no border or background with teal text:
.o-button__1 {
  @extend %o-button;
  color: $color-teal;
}

// thin border, no background:
.o-button__2 {
  @extend %o-button;
  border: 1px solid $color-dark-gray;
}

// orange border & background, white text:
.o-button__3 {
  @extend %o-button;
  background: $color-orange;
  color: $color-white;
}

// no border or background with orange text:
.o-button__4 {
  @extend %o-button;
  color: $color-orange;
}

// ***** Buttons with Icons ***** //

// Each version below uses a default icon. To use alternative icons, use background-image property with path to alternative image

// no border or background, bold teal text and left icon:
.o-button__5 {
  @extend %o-button;
  padding-left: 30px;
  background: url('../images/icon_share-square.svg') no-repeat left 8px center / 16px;
  color: $color-teal;
  font-weight: bold;
}

// no border, teal background, bold white text and left icon:
.o-button__6 {
  @extend %o-button;
  padding-left: 30px;
  background: $color-teal url('../images/icon_print-white.svg') no-repeat left 8px center / 16px;
  color: $color-white;
}

// no border or background with teal text:
.o-button__7 {
  @extend %o-button;
  color: $color-teal;
}
