// ##### Campus Carousel Component ##### //

$campuscarousel-heading-height: 1.1em;

.c-campuscarousel {
  @extend %campuscarousel-flickity-customizations;
  margin-bottom: $spacing-md;
  padding: $spacing-sm 2.5em;
  background-color: $color-white;
  box-shadow: $box-shadow1;
}

.c-campuscarousel__section {
  display: flex;
  position: relative;
  padding-top: $campuscarousel-heading-height + 0.5em;
  background-color: $color-white; // hides section underneith when overlapping upon browser resize

  &:not(:first-child) {

    [class^='c-campuscarousel__cell--'] {

      &:first-of-type {
        border-left: 1px solid $color-dark-gray;
      }

    }

  }

}

.c-campuscarousel__cell-heading {
  position: absolute;
  top: 0;
  left: $spacing-sm;
  margin: 0;
  color: $color-dark-gray;
  font-size: $campuscarousel-heading-height;
  font-weight: normal;
}

%c-campuscarousel__cell {
  width: 15vw;
  min-width: 6.3em;
  padding: 2.2em $spacing-base $spacing-base;
  background: top center / 1.5em no-repeat;
  text-align: center;

  strong {
    display: block;
    color: $color-teal;
    font-family: 'KievitWebLight';
    font-size: 1.3em;

    @include bp(screen3) {
      font-size: 1.6em;
    }

  }

}

.c-campuscarousel__cell--item {
  @extend %c-campuscarousel__cell;
  background-image: inline('../images/icon_book-light-black.svg');
}

.c-campuscarousel__cell--view {
  @extend %c-campuscarousel__cell;
  background-image: inline('../images/icon_eye-light-black.svg');
}

.c-campuscarousel__cell--passed {
  @extend %c-campuscarousel__cell;
  background-image: inline('../images/icon_unlock-alt-light-black.svg');
}

.c-campuscarousel__cell--journals {
  @extend %c-campuscarousel__cell;
  background-image: inline('../images/icon_file-text-light-black.svg');
}

.c-campuscarousel__cell--units {
  @extend %c-campuscarousel__cell;
  background-image: inline('../images/icon_university-light-black.svg');
}

// ***** Flickity Customizations ***** //

%campuscarousel-flickity-customizations {

  .flickity-prev-next-button {
    width: 3.8em;
    height: 3.8em;
    background: transparent;

    &:hover {
      background: transparent;
    }

    &.previous {
      left: -0.6em;
    }

    &.next {
      right: -0.6em;
    }

    .arrow {
      fill: $color-dark-gray;
    }

  }

}
