// ##### Campus Selector Component ##### //

.c-campusselector {

  &::after {
    margin: 0 2px;
    padding: 0 2px;
    background-color: #f00;
    color: #fff;
    font-size: 0.8em;
    content: '(campusselector no longer used)';
  }

}
