// ##### Campus Search Component ##### //

.c-campussearch {
  margin-bottom: $spacing-md;
  padding: $spacing-sm;
  background-color: $color-light-teal;
  box-shadow: $box-shadow1;

  @include bp(screen1) {
    padding: $spacing-md 15vw;
  }

}

.c-campussearch__label {
  display: block;
  margin-bottom: $spacing-sm;
  color: $color-orange;
  font-size: 5.5vw;

  @include bp(screen1) {
    font-size: 4.2vw;
  }

  @include bp(screen2) {
    font-size: 2.6vw;
  }

}

.c-campussearch__search {
  display: flex;

  input[type='search'] {
    @extend %interactive-element-size;
    flex: 1 1 auto;
    padding: 0 $spacing-sm;
    border: 1px solid $color-light-gray;
    
    @include bp(screen2) {
      font-size: 1.2em;
    }

  }

  button {
    @extend %o-button__9;
    margin-left: $spacing-base;
    background-image: inline('../images/icon_magnify-teal.svg');

    @include bp(screen2) {
      margin-left: $spacing-sm;
    }

  }

}

.c-campussearch__subtext {
  display: block;
  margin-top: $spacing-sm;
  font-size: 0.8em;

  a {
    @extend %o-textlink__secondary;
  }

  @include bp(screen2) {
    margin-top: $spacing-md;
    font-size: 1em;
  }

}
