// ##### Campus Search Component ##### //

.c-campussearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 13vw;
  margin-bottom: $spacing-md;
  padding: 0 15vw;
  background-color: $color-light-teal;
  box-shadow: $box-shadow1;
}

.c-campussearch__label {
  margin-bottom: 1.3vw;
  color: $color-orange;
  font-size: 2.4vw;
}

.c-campussearch__search {
  display: flex;

  input[type='search'] {
    flex: 1 1 auto;
    padding: 1vw;
    border: 1px solid $color-light-gray;
    font-size: 1.8vw;
  }

  button {
    @extend %o-button__9;
    margin: 0 1vw;
    background-image: inline('../images/icon_magnify-teal.svg');
  }

}
