// ##### Checkbox Component ##### //

.c-checkbox {
  @extend %no-bullet-ul;

  ul {
    padding-left: 2em;

    @include interactive-element-pointer(coarse) {
      padding-left: 2.4em;
    }

  }

}

%c-checkbox__icon {
  background: no-repeat left top / 1.3em;

  @include interactive-element-pointer(coarse) {
    background-size: 1.8em;
  }

}

.c-checkbox__input {
  @extend %hide;

  &:checked + .c-checkbox__label {
    @extend %c-checkbox__icon;
    background-image: inline('../images/icon_checkbox-checked.svg');
  }

}

.c-checkbox__label {
  @extend %interactive-element-size;
  @extend %c-checkbox__icon;
  display: block;
  
  padding: 0.1em 0 0.7em 1.9em;
  background-image: inline('../images/icon_checkbox-unchecked.svg');
  cursor: pointer;
  user-select: none;

  @include interactive-element-pointer(coarse) {
    padding: 0.3em 0 0.7em 2.4em;
  }

}
