// ##### Checkbox Component ##### //

.c-checkbox {
  // no styles
}

%c-checkbox__icon {
  background: no-repeat left center / auto 70%;
}

.c-checkbox__input {
  @extend %hide;

  &:checked + .c-checkbox__label {
    @extend %c-checkbox__icon;
    background-image: inline('../images/icon_checkbox-checked.svg');
  }

}

.c-checkbox__label {
  @extend %interactive-element-size;
  @extend %c-checkbox__icon;
  display: inline-flex;
  align-items: center;
  min-width: 30%;
  margin-right: $spacing-sm;
  padding-left: 1.9em;
  background-image: inline('../images/icon_checkbox-unchecked.svg');
  cursor: pointer;
  user-select: none;

  @include interactive-element-pointer(coarse) {
    padding-left: 2.4em;
  }

}
