// ##### CMS Client Markup ##### //

.c-clientmarkup {

  // ***** Headings ***** //

  > h1 {
    @extend %o-heading1;
    margin-top: $spacing-md;
  }

  > h2 {
    @extend %o-heading2;
    margin-top: $spacing-md;
  }

  > h3 {
    @extend %o-heading3;
    margin-top: $spacing-md;
  }

  > h4 {
    @extend %o-heading4;
    margin-top: $spacing-md;
  }

  // ***** Links ***** //

  a {
    // ToDo: This is similar to c-pubinfo__link...
    //  It might make sense to create an object with this wrapping property,
    //  but maybe something to change once we have a regession testing suite.
    @extend %o-textlink__secondary;
    @include u-one-line-truncation(active);

    @include bp(screen1) {
      @include u-one-line-truncation(inactive);
      @include u-overflow-wrap();
    }
  }

  // ***** Lists ***** //

  ol,
  ul {
    margin-bottom: $spacing-md;

    li {

      &:not(:last-child) {
        margin-bottom: $spacing-sm;
      }

    }

  }

  // ***** Blockquotes ***** //

  blockquote {
    margin-bottom: $spacing-md;
    padding-left: $spacing-sm;
    border-left: 0.3em solid $color-light-gray;
    font-size: 1.1em;

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }

  }

}

