// ##### Columns Layout Component ##### //

.c-columns {

  @include bp(screen2) {
    display: flex;
    align-items: flex-start;
  }

  main {
    flex: 1;
  }

  aside {
    flex: 0 0 $column-width;

    &:first-child { // left sidebar

      @include bp(screen2) {
        margin: 0 $spacing-md 0 0;
      }

    }

    &:last-child { // right sidebar

      @include bp(screen2) {
        margin: 0 0 0 $spacing-md;
      }

    }

  }

}
