// ##### Column Box Objects ##### //

%o-columnbox {
  @extend %responsive-images;
  margin-bottom: $spacing-sm;
  padding: $spacing-sm $spacing-sm 0;

  header {
    margin: (-$spacing-sm) (-$spacing-sm) $spacing-sm;

    @include headings() {
      @extend %o-heading3a;
      margin: 0;
      padding: 0.4em $spacing-sm;
      background: $color-light-gray;
    }

  }
  
  @include bp(screen1) {
    padding: $spacing-lg $spacing-lg 0;

    header {
      margin: (-$spacing-lg) (-$spacing-lg) $spacing-md;

      @include headings() {
        padding: 0.4em $spacing-md;
      }

    }

  }

  @include bp(screen2) {
    margin-bottom: $spacing-md;
  }

}

.o-columnbox1 {
  @extend %o-columnbox;
  padding: $spacing-sm;
  background: $color-white;
  box-shadow: $box-shadow1;

  @include bp(screen1) {
    padding: $spacing-lg;
  }

}

.o-columnbox2 {
  @extend %o-columnbox;
}

// ***** When Placed Within Sidebar ***** //

aside {

  @include bp(screen1) {

    .o-columnbox1 {
      padding: $spacing-md;
    }

    .o-columnbox2 {
      padding: $spacing-md $spacing-md 0;
    }

    .o-columnbox1,
    .o-columnbox2 {

      header {
        margin: (-$spacing-md) (-$spacing-md) $spacing-md;
      }

    }

  }

}

// ***** If jQuery Dotdotdot Used ***** //

.o-columnbox__truncate1 {
  max-height: 5.5em; // truncate to 5 lines per jquery.dotdotdot
  overflow: hidden; // hide text beyond max-height
}

// Button to show untruncated text:
.o-columnbox__truncate-more {
  @extend %o-button__7;
}
