// ##### Data Table Component ##### //

$table-border-size: 1px;

.c-datatable {
  margin-bottom: $spacing-md;
  border: $table-border-size solid $color-teal;

  caption {
    @extend %o-heading3;
    text-align: left;
  }

  th,
  td {
    padding: $spacing-sm;
  }

  th {
    text-align: left;
  }

  // ***** Table Borders ***** //

  thead {

    th[scope='col'] {
      background-color: $color-teal;
      color: $color-white;
      font-weight: normal;

      &:not(:first-child) {
        border-left: $table-border-size solid $color-white;
      }

    }

  }

  tbody {

    tr {
      border-bottom: $table-border-size solid $color-teal;

      td {
        border-left: $table-border-size solid $color-teal;
      }

    }

  }

}
