// ##### Download Component ##### //

.c-download {
  display: flex;
  position: relative;
  margin-bottom: $spacing-sm;

  @include bp(screen2) {
    display: inline-flex;
    margin-right: $spacing-sm;
    margin-bottom: 0;
  }

}

.c-download__button {
  padding-right: $spacing-sm;
  padding-left: $spacing-sm;
  border: none;
  border-right: 1px solid $color-white;
  background-color: $color-teal;
  color: $color-white;
}

.c-download__formats {
  flex: 1 0 auto;

  summary {
    height: $element-height;
    padding-left: $spacing-sm;
    background-color: $color-teal;
    color: $color-white;
    line-height: $element-height;
    user-select: none;

    @include bp(screen2) {
      padding-right: 25px;
    }

    &::after {
      position: absolute;
      top: 0;
      right: $spacing-sm;
      bottom: 0;
      padding-right: 7px;
      padding-left: 7px;
      background: url('../images/icon_arrow-down-white.svg') no-repeat center / 13px;
      content: '';

      @include bp(screen2) {
        right: 0;
        width: 20px;
      }

    }

  }

  &[open] {

    summary::after {
      transform: rotate(180deg);
    }

  }

}

// ***** Menu and Components ***** //

.c-download__menu {
  position: absolute;
  right: 0;
  left: 0;
  margin: $spacing-sm 0 0;
  background-color: lighten($color-black, 35%);
  z-index: 1;

  @supports (backdrop-filter: blur()) {
    background-color: rgba($color-black, 0.6);
    backdrop-filter: blur(5px);
  }

  @include bp(screen2) {
    right: auto;
    min-width: 230px;
  }

}

%c-download__item {
  @extend %nav-item;
  padding-left: 40px;
  background: no-repeat left $spacing-sm center / 16px;
  color: $color-white;

  @include bp(screen2) {
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
  }

}

%c-download__heading {
  @extend %c-download__item;
  border-top: none;
  border-bottom: none;

  &:first-child {
    border-top: 1px solid $color-dark-gray;

    @include bp(screen2) {
      margin-top: $spacing-sm;
      border: none;
    }

  }

}

@each $download-heading-number, $download-img-label in
  (1, files-o-white),
  (2, quote-right-white),
  (3, play-circle-white) {

  .c-download__heading#{$download-heading-number} {
    @extend %c-download__heading;
    background-image: inline('../images/icon_#{$download-img-label}.svg');
  }

}

.c-download__list {
  @extend %no-bullet-ul;

  li {

    a {
      @extend %c-download__item;
      font-size: 1em;

      @include bp(screen2) {
        text-decoration: underline;
      }

    }

    &:not(:first-of-type) a {
      border-top: none;
    }

    &:last-child {

      @include bp(screen2) {
        margin-bottom: $spacing-sm;
      }

    }

  }

}
