// ##### Facet Box Component ##### //

.c-facetbox {
  margin-bottom: $spacing-sm;
  padding: 0 $spacing-sm;
}

.c-facetbox__summary {
  @extend %o-heading3;
  position: relative;
  margin: 0 (-$spacing-sm);
  padding: 0 $spacing-sm;
  background: $color-light-gray;
  font-weight: normal;
  box-shadow: $box-shadow1;
  user-select: none;

  &::after {
    position: absolute;
    top: 0;
    right: $spacing-sm;
    bottom: 0;
    padding: 7px;
    background: inline('../images/icon_sort-down-black.svg') no-repeat center / 12px;
    content: '';
  }

  // <summary> isn't responding to flexbox values in Safari, so need to use <span> child with those values:
  span {
    @extend %interactive-element-size;
    display: inline-flex;
    align-items: center;
  }

}

.c-facetbox[open] {
  padding-bottom: $spacing-base;
  border-bottom: 1px solid $color-light-gray;

  .c-facetbox__summary {
    background: none;
    box-shadow: none;

    &::after {
      transform: rotate(180deg);
    }

  }

}

// ##### Facet Items Sub-Component ##### //

// This is used for facets in the left column, as well as for the modal
.c-facetitems {
  max-height: 24.1em; // Allows for all facet items to appear in campus facet without scrolling
  overflow-y: auto;
}

