// ##### Facet Box Component ##### //

.c-facetbox {
  margin-bottom: $spacing-sm;
  padding: $spacing-sm;
}

.c-facetbox__summary {
  position: relative;
  margin: 0 (-$spacing-sm);
  padding: $spacing-base $spacing-sm;
  background: $color-light-gray;
  font-size: 1.2em;
  box-shadow: $box-shadow;
  user-select: none;

  &::after {
    position: absolute;
    top: 0;
    right: $spacing-sm;
    bottom: 0;
    padding: 7px;
    background: url('../images/icon_sort-down-black.svg') no-repeat center / 12px;
    content: '';
  }

}

.c-facetbox[open] {
  border-bottom: 1px solid $color-light-gray;

  .c-facetbox__summary {
    margin: 0 (-$spacing-sm) $spacing-sm;
    background: none;
    box-shadow: none;

    &::after {
      transform: rotate(180deg);
    }

  }

}
