// ##### Filter Component ##### //

.c-filter {
  margin: 0 0 $spacing-md;
  padding: $spacing-sm;
  background: $color-white;
  box-shadow: $box-shadow1;
}

.c-filter__heading {
  @extend %o-heading3;
  margin-bottom: $spacing-sm;
  font-weight: normal;
}

.c-filter__active-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $spacing-base 0 0;

  button {
    @extend %interactive-element-size;
    display: inline-flex;
    align-items: center;
    padding-right: 1.3em;
    border: none;
    background: $color-white inline('../images/icon_times.svg') no-repeat right -0.2em center / auto 60%;
    color: $color-teal;

    @include interactive-element-pointer(coarse) {
      padding-right: 1.8em;
    }

  }

}

.c-filter__active {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  button {
    @extend %o-button__5;
    background-image: inline('../images/icon_times-circle.svg');
    color: $color-black;
    font-weight: normal;
  }

}

.c-filter__tips {
  @extend %o-textlink__secondary;
  display: flex;
  justify-content: flex-end;
}
