// ##### Fonts ##### //

@font-face {
  font-family: 'KievitWeb';
  src: inline('../fonts/KievitWeb.woff') format('woff');
}

@font-face {
  font-family: 'KievitWebLight';
  src: inline('../fonts/KievitWeb-Light.woff') format('woff');
}
