// ##### Footer Component ##### //

.c-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 (-$spacing-sm);
  padding: $spacing-md;
  background-color: $color-light-black;

  @supports (display: grid) {
    display: grid;
    justify-items: center;
  }

  @include bp(screen2) {
    position: relative;
    align-items: flex-start;

    @supports (display: grid) {
      grid-template-columns: auto 1fr;
      justify-items: stretch;
    }

  }

}

.c-footer__nav {
  columns: 2;
  column-gap: $spacing-lg;

  @include bp(screen2) {
    position: absolute;
    top: 0;
    right: 0;
    left: 55%;
    margin: $spacing-md 0 0;

    @supports (display: grid) {
      position: static;
      margin: 0 0 0 35%;
      grid-column: 2 / 3;
      grid-row: 1 / 4;
    }

  }

  a {
    display: block;
    margin: 0 0 15px;
    color: $color-white;
    text-decoration: none;

    &:nth-child(9),
    &:nth-child(10) {
      font-weight: bold;
    }

  }

}

.c-footer__logo {
  margin: 0 0 $spacing-md;
  color: $color-white;

  img {
    width: 200px;
  }

}

.c-footer__icons {
  margin-bottom: $spacing-md;

  @supports (display: grid) {
    justify-self: center;
  }

  a {
    @extend %circular-border;
    border-color: $color-white;

    &:not(:first-child) {
      margin-left: $spacing-lg;
    }

    img {
      width: 30px;
    }

  }

}

.c-footer__copyright {
  color: $color-light-gray;
  font-size: 0.9em;
  line-height: 1.3;

  a {
    color: $color-white;
    text-decoration: none;
  }

}
