// ##### Footer Component ##### //

// Would prefer to use CSS Grid Layout for screen2 but spec not yet ratified, so using absolute positioning on .c-footer__nav

.c-footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 (-$spacing-sm) $spacing-md;
  padding: $spacing-md;
  background-color: $color-light-black;

  @include bp(screen2) {
    position: relative;
    align-items: flex-start;
  }

}

.c-footer__nav {
  margin: 0 0 $spacing-sm;
  columns: 2;
  column-gap: $spacing-lg;

  @include bp(screen2) {
    position: absolute;
    top: 0;
    right: 10%;
    left: 50%;
    margin: $spacing-md 0 0;
  }

  a {
    display: block;
    margin: 0 0 15px;
    color: $color-white;
    text-decoration: none;

    &:nth-child(9),
    &:nth-child(10) {
      font-weight: bold;
    }

  }

}

.c-footer__logo {
  margin: 0 0 $spacing-md;
  color: $color-white;

  img {
    width: 200px;
  }

}

.c-footer__icons {
  margin-bottom: $spacing-md;

  a {
    @extend %circular-border;
    border-color: $color-white;

    &:not(:first-child) {
      margin-left: $spacing-lg;
    }

    img {
      width: 30px;
    }

  }

}

.c-footer__copyright {
  color: $color-light-gray;
  font-size: 0.9em;
  line-height: 1.3;

  a {
    color: $color-white;
    text-decoration: none;
  }

}
