// ##### Front Matter Component ##### //

.c-frontmatter {
  margin: 0 0 $spacing-md;

  @include bp(screen1) {
    display: flex;
    align-items: flex-start;
  }

  ~ .c-frontmatter {
    padding: $spacing-md 0 0;
    border-top: 1px solid $color-dark-gray;
  }

}

.c-frontmatter__img {
  flex: 1 0 auto;
}

.c-frontmatter__text {

  @include bp(screen1) {
    margin: 0 0 0 $spacing-md;
  }

}

.c-frontmatter__heading {
  margin: 0.8em 0;
  color: $color-teal;
  font-size: 1.2em;

  @include bp(screen1) {
    margin: 0 0 0.8em;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

}

.c-frontmatter__subheading {
  margin: 0 0 0.4em;
  font-size: 1.2em;
}
