// ##### Global Navigation Component Styles ##### //

.c-globalnav {

	@include bp(screen2) {
		border-top: 2px solid $color-light-gray;
		border-bottom: 1px solid $color-light-gray;
	}

}

%c-globalnav__button-icon {
	position: absolute;
	padding: 7px;
	background: url('/images/icon_arrow-down.svg') no-repeat center / 13px;
	content: '';
}

.c-globalnav__main-button {
	display: inline-block;
	margin: 0 0 10px;
	padding: 10px 35px 10px 10px;
	border: 1px solid $color-dark-gray;
	color: $color-dark-gray;
	user-select: none;

	@include bp(screen2) {
		display: none;
	}

	&::after {
		@extend %c-globalnav__button-icon;
		margin: 0 0 0 10px;
	}

}

.c-globalnav__main[open] .c-globalnav__main-button,
.c-globalnav__sub[open] .c-globalnav__sub-button {

	&::after {
		transform: rotate(180deg);
	}

}

%c-globalnav__item {
	display: block;
	padding: 10px;
	border: 1px solid $color-dark-gray;
	color: $color-dark-gray;
	font-size: 1.1em;
	text-decoration: none;
}

.c-globalnav__sub-button {
	@extend %c-globalnav__item;
	position: relative;
	border-top: none;
	user-select: none;

	@include bp(screen2) {
		padding: 10px 35px 10px 0;
		border: none;
	}

	&::after {
		@extend %c-globalnav__button-icon;
		right: 10px;
	}

}

.c-globalnav__main-items {
	overflow: hidden;
  animation: openMainItems 0.3s linear;

	@include bp(screen2) {
		// scss-lint:disable ImportantRule
		display: flex !important; // reset details polyfill
		justify-content: space-around;
		animation: 0s;

		> a {
			padding: 10px 0 7px;
		}

	}

	> a {
		@extend %c-globalnav__item;

		@include bp(screen2) {
			border: none;
		}

		&:not(:first-of-type) {
			border-top: none;
		}

		&.c-globalnav__item--active {
			color: $color-orange;

			@include bp(screen2) {
				border-bottom: 3px solid $color-orange;
				font-weight: bold;
			}

		}

	}

}

.c-globalnav__sub-items {
	overflow: hidden;
  animation: openSubItems 0.3s linear;

	@include bp(screen2) {
		position: absolute;
	}

	a {
		@extend %c-globalnav__item;
		border-top: none;
		background: lighten($color-light-gray, 15%);

		@include bp(screen2) {

			&:first-child {
				border-top: 1px solid $color-dark-gray;
			}

		}

	}

}

@keyframes openMainItems {

	0% {
		height: 0;
	}

	100% {
		height: 37px * 5; // 5 = number of initial items
	}

}

@keyframes openSubItems {

	0% {
		height: 0;
	}

	100% {
		height: 37px * 12; // 12 = number of initial items
	}

}
