// ##### Heat Map Component ##### //

.c-heatmap {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 70vw; // also sets aspect ratio
  border-bottom: 1px solid $color-light-gray;
  background: top center / cover no-repeat;
  // background-image url property/value is an inline style within the component
  box-shadow: $box-shadow1;

  // Linear gradient:
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      $color-white,
      $color-light-teal 15%,
      $color-light-teal 85%,
      $color-white);
    content: '';
    z-index: -1;
  }

  @include bp(screen1) {
    min-height: 40vw; // also sets aspect ratio
  }

  @include bp(screen2) {
    align-items: flex-start;
    min-height: 30vw; // also sets aspect ratio
    padding-left: 2vw;
    background: top right / contain no-repeat;
  }

  @include bp(screen3) {
    justify-content: space-around;
    padding-left: 5vw;
  }

  @include bp(screen5) {
    min-height: 26.3em;
  }

}

.c-heatmap__heading {
  margin: $spacing-md 0;
  font-family: 'KievitWebLight';
  font-size: 7vw;
  font-weight: normal;
  text-align: center;

  @include bp(screen1) {
    font-size: 6vw;
  }

  @include bp(screen2) {
    width: 30vw;
    margin: 3vw 0 $spacing-md;
    font-size: 4.3vw;
    text-align: left;
  }

  @include bp(screen4) {
    width: 7em;
    font-size: 3.5em;
  }

  @include bp(screen5) {
    margin: 0.8em 0 $spacing-md;
  }

}

.c-heatmap__button {
  @extend %o-button__8;
  margin-bottom: $spacing-md;
  font-size: 1.1em;

  @include bp(screen1) {
    width: 23vw;
  }

  @include bp(screen3) {
    width: 13em;
  }

}

.c-heatmap__text {
  padding: $spacing-sm;
  background-color: rgba($color-white, 0.7);
  font-size: 1.2em;

  @supports (backdrop-filter: blur()) {
    background-color: rgba($color-white, 0.5);
    backdrop-filter: blur(5px);
  }

  @include bp(screen1) {
    line-height: 1.2;
  }

  @include bp(screen2) {
    width: 45vw;
    margin-bottom: $spacing-md;
    padding: 0;
    background-color: transparent;
  }

}
