// ##### Header 1 & 2 Component Styles ##### //

.c-header {
  display: flex;
  justify-content: space-between;
  margin: (-$spacing-sm) (-$spacing-sm) 0;
  padding: $spacing-sm;
  background: $color-white;
}

// Header 1 component logo:

.c-header__logo1 {

  img {
    height: 50px;
  }

}

// Header 2 component logo and tagline:

.c-header__logo2 {

  @include bp(screen3) {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  img {
    height: $element-height;
  }

}

.c-header__logo2-tagline {
  display: none;

  @include bp(screen3) {
    display: block;
    margin-left: $spacing-sm;
    padding: 0.2em 0 0.2em $spacing-sm;
    border-left: 1px solid $color-dark-gray;
    color: $color-light-black;
    font-size: 0.8em;
  }

}

%c-header__search {
  position: absolute;
  right: $spacing-sm;
  left: $spacing-sm;
  transform: translateX(110%);
  transition: transform 0.5s;
  background: $color-white;
  z-index: 2;

  @include bp(screen3) {
    position: relative;
    margin: 0 $spacing-sm 0 0;
    transform: translateX(0%);
  }

}

.c-header__search {
  @extend %c-header__search;
}

.c-header__search--active {
  @extend %c-header__search;
  transform: translateX(0%);
}

.c-header__search-open-button {
  align-self: flex-start;
  height: $input-height;
  padding: 0 13px;
  border: none;
  background: inline('../images/icon_magnify.svg') no-repeat center right / 25px;

  @include bp(screen3) {
    display: none;
  }

}
