// ##### Hero Component ##### //

$hero-text-shadow: 1px 1px 1px $color-dark-gray;

%c-hero {
  position: relative;
  padding: $spacing-sm;
  background-color: $color-teal;
  
  // This prevents the inline background-image style referenced in the HTML from appearing up to the screen3 breakpoint size:
  @media (max-width: $screen3 - 1) {
    background-image: none !important;
  }

  // BG image overlay:
  &::after {
    
    @include bp(screen3) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $color-light-gray;
      content: '';
      opacity: .5;
      z-index: -1;
    }

  }

  @include bp(screen3) {
    display: flex;
    align-items: center;
    height: 30vw;
    background: no-repeat center / cover;
    // background-image property/URL is set as an inline HTML style on this element
    z-index: 0;
  }

  @include bp(screen4) {
    height: 24em;
  }

  @include headings() {
    margin: 0;
    color: $color-white;
    font-size: 1.3em;
    font-weight: normal;
    text-align: center;

    @include bp(screen3) {
      width: 10em;
      margin-left: $spacing-lg;
      color: inherit;
      font-family: 'KievitWebLight';
      font-size: 5vw;
      text-align: left;
      text-shadow: $hero-text-shadow;
    }

    @include bp(screen4) {
      font-size: 4em;
    }

  }

}

.c-hero--black-text {
  @extend %c-hero;
}

.c-hero--white-text {
  @extend %c-hero;

  @include headings() {
    
    @include bp(screen3) {
      color: $color-white;
    }

  }

  .c-hero__campuses {
    
    @include bp(screen3) {
      color: $color-white;
    }

  }

}

.c-hero__campuses {
  display: none;

  @include bp(screen3) {
    display: block;
    position: absolute;
    right: $spacing-lg;
    bottom: $spacing-lg;
    text-shadow: $hero-text-shadow;
  }

  span {
    display: block;
    margin-bottom: $spacing-sm;
    color: inherit;
    font-size: 1.6em;
  }

  a {
    @extend %o-textlink__right-arrow;
    background-image: inline('../images/icon_angle-right-black.svg');
    color: inherit;
    font-size: 1.2em;
  }

}
