// ##### Home Section 3 Component ##### //

.c-homesection3 {
  display: grid;
  padding: $spacing-sm;
  grid-template-columns: 1fr;
  grid-gap: $spacing-sm;

  @include bp(screen3) {
    padding: $spacing-lg;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-gap: $spacing-lg;
  }

}

.c-homesection3__heading {
  display: block;
  margin: 0 0 $spacing-sm;
  color: $color-teal;
  font-size: 1.2em;
  font-weight: normal;

  @include bp(screen3) {
    margin: 0 0 $spacing-md;
    color: $color-black;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
    grid-column: 1 / 3;

    @supports (display: grid) {
      margin: 0;
    }

  }

}

.c-homesection3__description {

  @include headings() {
    margin-top: 0;
    margin-bottom: 0.2em;
    color: $color-teal;
    font-size: 1em;
    font-weight: bold;

    @include bp(screen3) {
      margin-bottom: 0.4em;
      font-size: 1.6em;
      font-weight: normal;
    }

  }

  p {

    @include bp(screen3) {
      font-size: 1.1em;
    }

  }

}

.c-homesection3__journalgrid {
  margin-bottom: $spacing-sm;

  @include bp(screen3) {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }

}

%c-homesection__links {
  @extend %o-textlink__right-arrow;
  margin-bottom: $spacing-sm;
  justify-self: center;

  @include bp(screen3) {
    margin-bottom: 0;
    font-size: 1.2em;
  }

}

.c-homesection3__start {
  @extend %c-homesection__links;

  @include bp(screen3) {
    align-self: start;
    justify-self: start;
    grid-column: 1;
  }

}

.c-homesection3__browse-all {
  @extend %c-homesection__links;

  @include bp(screen3) {
    grid-column: 1 / 3;
  }

}
