// ##### Home Section 3 Component ##### //

.c-homesection3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $spacing-sm;

  @include bp(screen3) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $spacing-lg;
  }

}

.c-homesection3__description {

  @include bp(screen3) {
    align-self: center;
    grid-column: 1 / 3;
  }

  @include headings() {
    margin-top: 0;
    margin-bottom: 0.2em;
    color: $color-teal;
    font-size: 1em;
    font-weight: bold;

    @include bp(screen3) {
      margin-bottom: 0.4em;
      font-size: 1.6em;
      font-weight: normal;
    }

  }

  p {

    @include bp(screen3) {
      font-size: 1.1em;
    }

  }

}

.c-homesection3__journalgrid {
  margin-bottom: $spacing-sm;

  @include bp(screen3) {
    grid-column: 3 / 4;
  }

}

%c-homesection__links {
  @extend %o-textlink__right-arrow;
  margin-bottom: $spacing-sm;
  justify-self: right;

  @include bp(screen3) {
    margin-bottom: 0;
    font-size: 1.2em;
    grid-column: 1 / 4;
  }

}

.c-homesection3__browse-all {
  @extend %c-homesection__links;
}

.c-homesection3__start {
  @extend %c-homesection__links;
}
