// ##### Informational Pages Component ##### //

.c-infopages {
  // no styles
}

.c-infopages__items {

  @include bp(screen2) {
    display: flex;
    margin-bottom: $spacing-md;
  }

}

.c-infopages__item {
  margin-bottom: $spacing-sm;

  &:not(:first-child) {
    padding-top: $spacing-sm;
    border-top: 1px solid $color-dark-gray;
  }

  @include bp(screen2) {
    flex: 0 1 33%; // 3 columns
    margin-bottom: 0;
    padding: $spacing-sm;
    border: 1px solid $color-dark-gray;

    &:not(:first-child) {
      margin-left: $spacing-sm;
      padding-top: $spacing-sm;
    }

  }

  @include bp(screen3) {
    padding: $spacing-md;

    &:not(:first-child) {
      margin-left: $spacing-md;
      padding-top: $spacing-md;
    }

  }

  @include headings() {
    margin: 0;
    font-size: 1em;
    font-weight: normal;

    a {
      @extend %o-textlink__secondary;
      display: block;
      margin-bottom: $spacing-sm;
    }

  }

}

.c-infopages__title {
  @extend %o-heading3;
}

.c-infopages__text {
  max-height: 4.2em; // truncate beyond 3 lines via jQuery dotdotdot
  line-height: $line-height2;
  overflow: hidden; // hide text beyond max-height
}

.c-infopages__all {
  @extend %o-textlink__colorless;
  display: flex;
  justify-content: flex-end;
}
