// ##### Item Actions Component ##### //

.c-itemactions {
  margin-bottom: $spacing-md;

  @include bp(screen3) {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-sm;
  }

}

.c-itemactions__items1 {
  flex: 1;
}

.c-itemactions__download {
  margin-right: $spacing-sm;
  margin-bottom: $spacing-sm;
}

%c-itemactions__buttons {
  margin-right: $spacing-sm;
  margin-bottom: $spacing-sm;
}

.c-itemactions__button1 {
  @extend %c-itemactions__buttons;
}

.c-itemactions__button2 {
  @extend %c-itemactions__buttons;
  background-image: inline('../images/icon_book-white.svg');
}

.c-itemactions__items2 {
  // not used
}

