// ##### Item Actions Component ##### //

.c-itemactions {
  position: relative; // for o-download and c-share
  margin-bottom: $spacing-md;

  @include bp(screen3) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: $spacing-sm;
  }

}

%c-itemactions__elements {
  margin-right: $spacing-sm;
  margin-bottom: $spacing-sm;
}

.c-itemactions__download {
  @extend %c-itemactions__elements;
}

.c-itemactions__button1 {
  @extend %c-itemactions__elements;
}

.c-itemactions__button2 {
  @extend %c-itemactions__elements;
  background-image: inline('../images/icon_book-white.svg');
}
