// ##### Jump Component ##### //

$jump-list-spacing: 0.5em;

.c-jump {

  a {
    @extend %o-textlink__secondary;
    font-size: 1.1em;
  }

}

.c-jump__tree {
  @extend %u-reset-list-styles;
  margin: $jump-list-spacing 0;

  li {
    margin-left: $spacing-sm;
    padding: $jump-list-spacing 0 $jump-list-spacing $spacing-md;
    background-image: inline('../images/icon_tree-node.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.5em;

    &:last-child {
      background-image: inline('../images/icon_tree-end.svg');
    }

  }

}

.c-jump__siblings {
  @extend %u-reset-list-styles;

  li {

    &:not(:last-child) {
      margin-bottom: $jump-list-spacing * 2;
    }

  }

}
