// ##### Media File Grid Component ##### //

.c-mediafilegrid {
  @extend %clearfix;

  @include bp(screen2) {

    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(2, auto);
    }

  }

  // Create space around mediafile objects and float them to simulate 2-column grid:

  [class^='o-mediafile--'] {

    &:not(:last-child) {
      margin-bottom: $spacing-md * 2;

      // Border in-between objects:
      &::before {
        position: absolute;
        right: 0;
        bottom: (-$spacing-md);
        left: 0;
        border-top: 2px solid $color-light-gray;
        content: '';
      }

    }

    @include bp(screen2) {
      width: 49%;
      margin-bottom: $spacing-md;

      &:not(:last-child) {
        margin-bottom: $spacing-md;

        &::before {
          display: none;
        }

      }

      &:nth-child(odd) {
        float: left;
        clear: left;
      }

      &:nth-child(even) {
        float: right;
      }

      // If grid is supported, don't float objects (floats & clears get ignored when using grid):

      @supports (display: grid) {
        width: auto;

        &:nth-child(odd) {
          margin-right: $spacing-md / 2;
        }

        &:nth-child(even) {
          margin-left: $spacing-md / 2;
        }

      }

    }

  }

}
