// ##### Media Feature Objects ##### //

%o-mediafeature {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-md;
  padding-bottom: $spacing-md;
  border-bottom: 1px solid $color-light-gray;

  @include headings() {
    @extend %o-heading2;
    order: 2;
  }

}

%o-mediafeature__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 1;
  margin-bottom: $spacing-md;
  background-color: $color-light-gray;
}

.o-mediafeature__description {
  order: 3;
}

.o-mediafeature--audio {
  @extend %o-mediafeature;

  .o-mediafeature__item {
    @extend %o-mediafeature__item;
    height: 50vw;
  }

}

.o-mediafeature--file {
  @extend %o-mediafeature;

  .o-mediafeature__item {
    @extend %o-mediafeature__item;
    height: 50vw;
    padding: 0 $spacing-sm;

    strong {
      margin-bottom: $spacing-md;
      text-transform: uppercase;
    }

    button {
      @extend %o-button__6;
      background-image: inline('../images/icon_download-white.svg');
    }

  }

}

.o-mediafeature--picture {
  @extend %o-mediafeature;

  .o-mediafeature__item {
    @extend %o-mediafeature__item;

    img {
      max-width: 100%;
    }

  }

}

.o-mediafeature--video {
  @extend %o-mediafeature;

  .o-mediafeature__item {
    @extend %o-mediafeature__item;

    video {
      max-width: 100%;
    }

  }

}
