// ##### Media Feature Objects ##### //

%o-mediafeature {
  display: flex;
  flex-direction: column;

  @include headings() {
    @extend %o-heading2;
    order: 2;
  }

  // if itemactions comp follows mediafeature object (for journal item multimedia layout):
  + .c-itemactions {
    margin-top: $spacing-md;
    padding-top: $spacing-md;
    border-top: 1px solid $color-light-gray;
  }

}

%o-mediafeature__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 1;
  max-height: 50vh; // prevents player from getting cropped if viewport is too short
  margin-bottom: $spacing-md;
  background-color: $color-light-gray;
}

.o-mediafeature__description {
  order: 3;
}

.o-mediafeature--audio {
  @extend %o-mediafeature;

  .o-mediafeature__item {
    @extend %o-mediafeature__item;
    padding: $spacing-sm;
  }

}

.o-mediafeature--data {
  @extend %o-mediafeature;

  .o-mediafeature__item {
    @extend %o-mediafeature__item;
    padding: $spacing-sm;

    strong {
      margin-bottom: $spacing-md;
      text-transform: uppercase;
    }

    a {
      @extend %o-textlink__left-icon;
      background-image: inline('../images/icon_download-teal.svg');
    }

  }

}

.o-mediafeature--image {
  @extend %o-mediafeature;

  .o-mediafeature__item {
    @extend %o-mediafeature__item;

    img {
      max-width: 100%;
    }

  }

}

.o-mediafeature--video {
  @extend %o-mediafeature;

  .o-mediafeature__item {
    @extend %o-mediafeature__item;

    video {
      max-width: 100%;
    }

  }

}
