// ##### Media File Object ##### //

// The layout grid for Media File objects is set within _mediafilegrid.scss

div[class^='o-mediafile--'] {
  display: grid;

  @include bp(screen1) {
    padding: $spacing-sm;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-column-gap: $spacing-sm;
  }

}

%o-mediafile__heading {
  @extend %overflow-wrap;
  margin: 0 0 $spacing-sm;
  padding-left: 25px;
  background: no-repeat top left / 0.9em;
  font-size: 1.1em;
  font-weight: normal;
  grid-column: 1;
  grid-row: 1;

  @include bp(screen1) {
    max-height: 2.3em; // truncate beyond 2 lines per jquery.dotdotdot
    overflow: hidden; // hide text beyond max-height
    grid-column: 2;
  }

  @supports (display: grid) {
    color: $color-teal;
  }

}

.o-mediafile__preview {
  position: relative;
  height: 7.5em;
  margin-bottom: $spacing-sm;
  background-color: $color-dark-gray;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: no-repeat center / 3.7em;
    content: '';
    opacity: 0.7;
  }

  @include bp(screen1) {
    grid-row: 1 / 4;

    @supports (display: grid) {
      margin-bottom: 0;
    }

  }

  img {
    width: 100%;
    height: 100%;
    margin-bottom: $spacing-sm;
    object-fit: cover;
  }

}

.o-mediafile__description {
  margin-bottom: $spacing-sm;
  font-size: 0.9em;

  @include bp(screen1) {
    max-height: 3.2em; // truncate beyond 3 lines per jquery.dotdotdot
    grid-column: 2;
    grid-row: 2;
  }

}

// 'View Media' button:
.o-mediafile__view {
  @extend %o-button__7; // default button styling
  z-index: 5; // stack above o-mediafile__heading
  grid-column: 1;
  grid-row: 1;

  @include bp(screen1) {
    grid-column: 2;
    grid-row: 1;
  }

  @supports (display: grid) {
    // remove default button styling:
    border: none;
    background: none;

    span { // hide button label
      position: absolute;
      left: -9999px;
    }

  }

}

.o-mediafile__download {
  @extend %o-textlink__secondary;
  float: right;
  justify-self: end;

  @include bp(screen1) {
    justify-self: start;
  }

}

div[class$='--selected'] {
  padding: $spacing-sm;
  background-color: lighten($color-light-gray, 15%);
}

// ***** Preview Element Icons ***** //

@each $mediafile-type, $mediafile-icon in
  (audio, icon_volume-up-white),
  (data, icon_archive-white),
  (image, icon_eye-white),
  (video, icon_play-circle-white) {

  div[class^='o-mediafile--#{$mediafile-type}'] {

    .o-mediafile__preview {

      &::before {
        background-image: inline('../images/#{$mediafile-icon}.svg');
      }

    }

  }

}

// ***** Heading Icons ***** //

@each $mediafile-type, $mediafile-icon in
  (audio, icon_volume-up),
  (data, icon_archive-teal),
  (image, icon_picture),
  (video, icon_video-camera-teal) {

  div[class^='o-mediafile--#{$mediafile-type}'] {

    .o-mediafile__heading {
      @extend %o-mediafile__heading;
      background-image: inline('../images/#{$mediafile-icon}.svg');
    }

  }

}
