// ##### Modal Component ##### //

$modal-header-height: 2.5em;
$modal-footer-height: 3.5em;

// Remove scrolling on the the body while the modal is open
.ReactModal__Body--open {
    overflow: hidden;
}

.c-modal {
  // no styles
}

.c-modal--open {
  margin: $spacing-md;
  border: 1px solid $color-light-gray;
  border-radius: $round-corner;
  outline: none;
  background-color: $color-white;
  box-shadow: 5px 5px 15px $color-light-black;

  @include bp(screen1) {
    margin: 10% 10% $spacing-md;
  }

  @include bp(screen3) {
    margin: 15% 15% $spacing-md;
  }

}

.c-modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($color-light-black, 0.8);
  overflow: auto;
  z-index: 1; // stack above some components that contain higher z-indexes than 0

  @supports (backdrop-filter: blur()) {
    background-color: rgba($color-black, 0.6);
    backdrop-filter: blur(5px);
  }

}

.modal__header {
  display: flex;
  align-items: center;
  min-height: 2.5em;
  padding: 0 $spacing-md;
  background-color: $color-light-gray;

  @include headings() {
    margin: 0;
    font-size: 1.2em;
    font-weight: normal;
  }

}

.modal__content {
  padding: $spacing-md;
}

.c-modal__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 3.5em;
  padding: 0 $spacing-md;
  border-top: 1px solid $color-light-gray;

  button {
    
    &:not(:first-child) {
      margin-left: $spacing-sm;
    }

  }

}

.c-modal__button-close {
  @extend %o-button__2;
  margin-right: auto;
}
