// ##### Navigation Component ##### //

.c-nav {
  flex: 1 0 auto; // to .c-subheader flexbox
  z-index: 1; // prevents stacking under marquee carousel in some browsers
}

.c-nav__main {

  &[open] {

    .c-nav__main-button::after {
      transform: rotate(180deg);
    }

  }

}

.c-nav__main-button {
  display: inline-block;
  position: relative;
  padding-right: 2em;
  padding-left: 0.6em;
  border: 1px solid $color-dark-gray;
  color: $color-dark-gray;
  user-select: none;

  @include bp(screen3) {
    display: none;
  }

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: 6px;
    padding: 7px;
    background: inline('../images/icon_arrow-down.svg') no-repeat center / 13px;
    content: '';
  }

  // <summary> isn't responding to flexbox values in Safari, so need to use <span> child with those values:
  span {
    @extend %interactive-element-size;
    display: inline-flex;
    align-items: center;
  }

}

// ***** Main Navigation Items ***** //

%c-nav__item {
  @extend %nav-item;

  &:not(:first-child) {
    border-top: none;
  }

}

%c-nav__main-items {
  position: absolute; // to <body>
  right: $spacing-sm;
  left: $spacing-sm;
  margin-top: $spacing-base;
  transition: transform 0.5s;

  @include bp(screen3) {
    display: flex;
    position: static;
    justify-content: space-around;
    margin-top: 0;
  }

  > a {
    @extend %c-nav__item;

    @include bp(screen3) {
      padding: 0;
      border: none;
      background: none;
    }

    &.c-nav__item--active {
      color: $color-black;

      @include bp(screen3) {
        font-weight: bold;
      }

    }

  }

  > * {

    &:not(:first-child) {

      .c-nav__sub-button {
        border-top: none;
      }

    }

  }

}

.c-nav__main-items {
  @extend %c-nav__main-items;
}

// toggle this on presence of 'open' attr on c-nav__sub to show/hide c-nav__sub-items
.c-nav__main-items--submenu-active {
  @extend %c-nav__main-items;
  transform: translateX(-103%);

  @include bp(screen3) {
    transform: translateX(0);
  }

}

// ***** Sub Navigation (exists in NavSubComp.jsx) ***** //

.c-nav__sub {

  @include bp(screen3) {
    position: relative;

    &[open] {

      .c-nav__sub-button::after {
        transform: rotate(180deg);
      }

    }

  }

}

.c-nav__sub-button {
  @extend %c-nav__item;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  user-select: none;

  @include bp(screen3) {
    border: none;
  }

  // <summary> isn't responding to flexbox values in Safari, so need to use <span> child with those values:
  span {
    @extend %interactive-element-size;
    display: inline-flex;
    align-items: center;

    @include bp(screen3) {
      padding-right: 0.9em;
      padding-left: 0;
    }

  }

  &::after {
    position: absolute;
    top: 0;
    right: $spacing-sm;
    bottom: 0;
    width: 1em;
    background: inline('../images/icon_angle-double-right-gray.svg') no-repeat center / contain;
    content: '';

    @include bp(screen3) {
      right: 0;
      width: 0.8em;
      background-image: inline('../images/icon_arrow-down.svg');
    }

  }

}

.c-nav__sub-items {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform: translateX(103%); // moves sub-items to right off-screen of main-items

  // Drop-down menu:

  @include bp(screen3) {
    top: auto;
    left: (-$spacing-sm);
    width: 12em;
    max-height: 23em;
    margin-top: $spacing-base;
    transform: translateX(0);
    border-top: 1px solid $color-dark-gray;
    overflow: auto;
  }

  a {
    @extend %c-nav__item;
  }

}

.c-nav__sub-items-button {
  @extend %c-nav__item;
  width: 100%;
  margin-right: $spacing-sm;
  padding: 0 0 0 2em;
  background: $color-white inline('../images/icon_angle-double-left-gray.svg') no-repeat left $spacing-sm center / 1em;
  text-align: left;

  @include bp(screen3) {
    display: none;
  }

}
