// ##### Navigation - Journal Component ##### //

.c-nav3 {
  flex: 1 0 auto; // to subheader flexbox
}

.c-nav3__main {

  &[open] {

    .c-nav3__main-button::after {
      transform: rotate(180deg);
    }

  }

}

.c-nav3__main-button {
  display: inline-block;
  position: relative;
  height: $element-height;
  padding: 0 35px 0 10px;
  border: 1px solid $color-dark-gray;
  color: $color-dark-gray;
  line-height: $element-height;
  user-select: none;

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 0 0 10px;
    padding: 7px;
    background: url('../images/icon_arrow-down.svg') no-repeat center / 13px;
    content: '';
  }

}

%c-nav3__item {
  @extend %nav-item; // from _mixins.scss

  @include bp(screen3) {
    width: 200px;
  }

}

%c-nav3__main-items {
  position: absolute; // to .c-subheader
  right: 0;
  left: 0;
  margin: $spacing-sm 0 0;
  transition: transform 0.5s;
  z-index: 1;

  a {
    @extend %c-nav3__item;

    &:not(:first-of-type) {
      border-top: none;
    }

  }

}

.c-nav3__main-items {
  @extend %c-nav3__main-items;
}

// toggle this on presence of 'open' attr on c-nav3__sub to show/hide c-nav3__sub-items
.c-nav3__main-items--submenu-active {
  @extend %c-nav3__main-items;
  transform: translateX(-103%);

  @include bp(screen3) {
    transform: translateX(0);
  }

}

.c-nav3__sub {
  // not used
}

.c-nav3__sub-button {
  @extend %c-nav3__item;
  position: relative;
  border-top: none;

  &::after {
    margin: 0 0 0 10px;
    content: '\00bb'; // double-right arrow
  }

}

.c-nav3__sub-items {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform: translateX(103%); // moves sub-items to right side of main-items

  @include bp(screen3) {
    top: 40px;
    right: auto;
    left: 222px;
    max-height: 340px;
    transform: translateX(0);
    overflow: scroll;
  }

}

.c-nav3__sub-items-button {
  @extend %c-nav3__item;
  width: 100%;
  border-bottom: none;
  text-align: left;

  @include bp(screen3) {
    display: none;
  }

  &::before {
    margin: 0 10px 0 0;
    content: '\00ab'; // double-left arrow
  }

}
