// ##### Navigation - Campus Component ##### //

.c-nav2 {

  @include bp(screen3) {
    margin: 0 0 $spacing-md;
    border-top: 2px solid $color-light-gray;
    border-bottom: 1px solid $color-light-gray;
  }

}

.c-nav2__main {

  &[open] {

    .c-nav2__main-button::after {
      transform: rotate(180deg);
    }

  }

}

.c-nav2__main-button {
  display: inline-block;
  padding: 7px 35px 6px 10px;
  border: 1px solid $color-dark-gray;
  color: $color-dark-gray;
  user-select: none;

  @include bp(screen3) {
    display: none;
  }

  &::after {
    position: absolute;
    margin: 0 0 0 10px;
    padding: 7px;
    background: url('../images/icon_arrow-down.svg') no-repeat center / 13px;
    content: '';
  }

}

.c-nav2__main-items {
  position: absolute; // to .c-subheader
  right: 0;
  left: 0;
  margin: $spacing-sm 0 0;
  background-color: $color-white;
  z-index: 1;

  @include bp(screen3) {
    // scss-lint:disable ImportantRule
    display: flex !important; // override details polyfill
    position: static;
    justify-content: space-around;
  }

  a {
    @extend %nav-item;

    @include bp(screen3) {
      padding: 10px 0 7px;
      border: none;
    }

    &:not(:first-of-type) {
      border-top: none;
    }

  }

}
