// ##### Nav Bar Component ##### //

.c-navbar {
  display: flex;
  align-items: center;
  margin: 0 (-$spacing-sm) $spacing-sm;
  padding: $spacing-sm;
  border-top: 2px solid $color-light-gray;
  border-bottom: 1px solid $color-light-gray;
  background-color: $color-white;
}
