// ##### Notification Component ##### //

.c-notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-notification p {
  margin: 20px 0;
}

.c-notification__close {
  flex-shrink: 0;
  margin-left: $spacing-sm;
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  background: inline('../images/icon_close.svg') no-repeat center / contain;
  cursor: pointer;
}

.c-notification a {
  color: $color-teal;
}
