// ##### Pagination Component ##### //

.c-pagination {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  margin-bottom: $spacing-md;

  ul {
    @extend %no-bullet-ul;
    display: flex;
    flex-wrap: wrap;

    li {
      margin-bottom: $spacing-base;

      &:not(:last-child) {
        margin-right: $spacing-base;
      }

      a {
        border: 1px solid $color-dark-gray;
      }

      span { // 'inactive' link
        border: 1px solid $color-light-gray;
        color: lighten($color-dark-gray, 20%);
      }

      // Ellipsis after the 2nd last pagination list item:

      &:nth-last-child(2) {

        &::before {
          margin-right: $spacing-base;
          content: '\2026';
        }

      }

    }

  }

}

%c-pagination__items {
  @extend %interactive-element-size;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 $spacing-sm;
  background-color: $color-white;
  color: $color-black;
  text-decoration: none;
}

.c-pagination__prevnext {
  @extend %c-pagination__items;
}

.c-pagination__item {
  @extend %c-pagination__items;
  border: 1px solid $color-dark-gray;

  &:hover,
  &:focus {
    border: 1px solid $color-dark-orange;
  }

}

.c-pagination__item--current {
  @extend %c-pagination__items;
  border: 1px solid $color-dark-gray;
  background-color: $color-dark-gray;
  color: $color-white;
}
