// ##### Pagination Component ##### //

.c-pagination {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  align-items: flex-end; // for c-pagination__ellipses
  justify-content: flex-end;
  margin-bottom: $spacing-md;
}

%c-pagination__items {
  @extend %interactive-element-size;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $spacing-base;
  padding: 0 $spacing-sm;
  color: $color-black;
  text-decoration: none;

  &:not(:last-child) {
    margin-right: $spacing-base;
  }

  &:hover,
  &:focus {
    border: 1px solid $color-orange;
  }

}

.c-pagination__prevnext {
  @extend %c-pagination__items;
  border: 1px solid $color-dark-gray;
}

.c-pagination__item {
  @extend %c-pagination__items;
  border: 1px solid $color-light-gray;
}

.c-pagination__item--active {
  @extend %c-pagination__items;
  border: 1px solid $color-dark-gray;
  background-color: $color-dark-gray;
  color: $color-white;
}

.c-pagination__ellipses {
  margin-right: $spacing-base;
  margin-bottom: $spacing-sm;
}
