// ##### Publication Year Facet Component ##### //

$pubyear-element-width: 3em;

.c-pubyear {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-bottom: $spacing-sm;
}

.c-pubyear__field {

  label {
    display: block;
  }

  input {
    @extend %interactive-element-size;
    width: $pubyear-element-width;
  }

}

.c-pubyear__button {
  @extend %o-button__8;
}
