// ##### Publication Component ##### //

%c-pub {
  margin-bottom: $spacing-md;
}

.c-pub {
  @extend %c-pub;
}

.c-pub--indent {
  @extend %c-pub;
  padding-left: 4%;
}

.c-pub__heading {
  @extend %o-heading2;
  margin: 0.8em 0;

  @include bp(screen1) {
    margin: 0 0 0.8em;
  }

  a {
    @extend %o-textlink__secondary;
  }

}

.c-pub__subheading {
  margin-bottom: 0.4em;
  font-size: 1.2em;
}
