// ##### Publication Year Facet Component ##### //

$pubyear-element-width: 3em;

.c-pubyear {
  margin-bottom: $spacing-sm;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
  }

  label {
    width: $pubyear-element-width;
    margin: 0 $spacing-base $spacing-base;

    &:last-of-type {
      margin-left: $spacing-md;
      grid-column: 2 / 3;
      grid-row: 1 / 2;

      @supports (display: grid) {
        margin-right: 0;
        margin-left: 0;
      }

    }

  }

  input {
    @extend %interactive-element-size;
    width: $pubyear-element-width;
  }

}
