// ##### Published Location Component ##### //

.c-publishedlocation {
  margin-bottom: $spacing-md;

  @include bp(screen1) {
    display: flex;
    align-items: flex-start;
  }

}

.c-publishedlocation__location {
  margin-bottom: 0.25em;

  a {
    display: block;
    margin-bottom: 0.25em;
  }

  @include bp(screen1) {
    flex: 1;
    margin-right: $spacing-md;
    margin-bottom: 0;
  }

}

.c-publishedlocation__license {
  // not used
}
