// ##### Element Resets ##### //

// Set box sizing to border-box on all elements:

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Set common style to all focusable elements:

*:focus {
  outline: $color-dark-orange solid 1px;
}

abbr {
  border: none; // for older browsers
  text-decoration: none; // for newer browsers
  cursor: default;

  &[title] {
    border: none; // override normalize.scss
  }

}

// Make hidden attribute work on any element:
[hidden] {
  display: none;
}

// Remove rounded corners from WebKit search fields on iOS:

input[type='search'] {
  border-radius: 0 !important;
  appearance: none !important;
}

summary {
  cursor: pointer;

  // Remove details arrow icon from webkit browsers:
  // sass-lint:disable no-vendor-prefixes
  &::-webkit-details-marker {
    display: none;
  }

}

// Remove details polyfill arrow icon (use ::after pseudo element in development instead of ::before)

html.no-details summary {

  &::before {
    display: none !important;
  }

}
