// ##### Scholarly Works Component ##### //

$scholworks-tag-height: 1.4em;

.c-scholworks {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;

  @include bp(screen1) {
    flex-flow: row nowrap;
    align-items: flex-start;
  }

  ~ .c-scholworks {
    padding-top: $spacing-md;
    border-top: 1px solid $color-dark-gray;
  }

  &:not(:last-child) {
    margin-bottom: $spacing-sm;
  }

}

.c-scholworks__tag-list {
  @extend %no-bullet-ul;
}

%c-scholworks__tag {
  display: inline-flex;
  align-items: center;
  min-height: $scholworks-tag-height;
  margin: 0 $spacing-sm $spacing-md 0;
  padding: 0 $spacing-sm 0 $spacing-lg;
  border-radius: $round-corner;
  background-color: $color-light-gray;
  font-size: 0.9em;
}

.c-scholworks__tag-article {
  @extend %c-scholworks__tag;
  background: $color-light-gray inline('../images/icon_pdf-black.svg') no-repeat left $spacing-sm center / 0.9em;
}

.c-scholworks__tag-book {
  @extend %c-scholworks__tag;
  // book icon
}

.c-scholworks__tag-thesis {
  @extend %c-scholworks__tag;
  // thesis icon
}

.c-scholworks__tag-multimedia {
  @extend %c-scholworks__tag;
  // multimedia icon
}

.c-scholworks__tag-peer {
  @extend %c-scholworks__tag;
  padding: 0 $spacing-sm;
}

.c-scholworks__heading {
  max-height: 3.2em; // truncate beyond 3 lines per jquery.dotdotdot
  margin: 0 0 $spacing-md;
  font-size: 1.2em;
  font-weight: bold;

  @include bp(screen1) {
    max-height: 2.2em; // truncate beyond 3 lines per jquery.dotdotdot
  }

  a {
    @extend %o-textlink__secondary;
  }

}

.c-scholworks__publication {
  margin: (-$spacing-md) 0 $spacing-md;

  a {
    @extend %o-textlink__secondary;
  }

}

.c-scholworks__abstract {
  max-height: 3.8em; // truncate beyond 3 lines per jquery.dotdotdot
  margin: 0 0 $spacing-md;

  @include bp(screen1) {
    max-height: 2.4em; // truncate beyond 2 lines per jquery.dotdotdot
  }

}

.c-scholworks__article-preview {
  flex: 0 0 auto;

  @include bp(screen1) {
    margin-top: calc(#{$scholworks-tag-height} + #{$spacing-md});
    margin-left: $spacing-md;
  }

}

.c-scholworks__media {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.c-scholworks__license {
  margin-bottom: $spacing-sm;
  margin-left: auto;
}
