// ##### Scholarly Works Component ##### //

$scholworks-tag-height: $element-height;

.c-scholworks {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;

  @include bp(screen1) {
    flex-flow: row nowrap;
    align-items: flex-start;
  }

  ~ .c-scholworks {
    padding-top: $spacing-md;
    border-top: 1px solid $color-dark-gray;
  }

  &:not(:last-child) {
    margin-bottom: $spacing-md;
  }

}

.c-scholworks__tag-list {
  @extend %no-bullet-ul;
}

%c-scholworks__tag {
  display: inline-block;
  margin: 0 $spacing-sm $spacing-md 0;
  padding: 0 0 0 25px;
  background: no-repeat left top / 16px;
}

.c-scholworks__tag-article {
  @extend %c-scholworks__tag;
  background-image: inline('../images/icon_pdf-black.svg');
}

.c-scholworks__tag-book {
  @extend %c-scholworks__tag;
  // book icon
}

.c-scholworks__tag-thesis {
  @extend %c-scholworks__tag;
  // thesis icon
}

.c-scholworks__tag-multimedia {
  @extend %c-scholworks__tag;
  // multimedia icon
}

.c-scholworks__tag-peer {
  @extend %c-scholworks__tag;
  padding: 0 $spacing-sm;
}

.c-scholworks__heading {
  height: 3.2em; // truncate beyond 3 lines per jquery.dotdotdot
  margin: 0 0 $spacing-md;
  font-size: 1.2em;
  font-weight: bold;

  @include bp(screen1) {
    height: 2.2em; // truncate beyond 3 lines per jquery.dotdotdot
  }

  a {
    @extend %o-textlink__secondary;
  }

}

.c-scholworks__author {
  height: 2.2em; // truncate beyond 2 lines per jquery.dotdotdot

  @include bp(screen1) {
    height: 1.1em; // truncate beyond 1 line per jquery.dotdotdot
  }

  a {
    @extend %o-textlink__secondary;
  }

}

.c-scholworks__publication {
  margin: 0 0 $spacing-md;

  a {
    @extend %o-textlink__secondary;
  }

}

.c-scholworks__abstract {
  height: 3.8em; // truncate beyond 3 lines per jquery.dotdotdot
  margin: 0 0 $spacing-md;

  @include bp(screen1) {
    height: 2.4em; // truncate beyond 2 lines per jquery.dotdotdot
  }

}

.c-scholworks__article-preview {
  flex: 0 0 auto;

  @include bp(screen1) {
    margin: ($scholworks-tag-height + $spacing-md) 0 0 $spacing-md;
  }

}

.c-scholworks__media {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;

  @include bp(screen2) {
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }

}

.c-scholworks__media-list {
  @extend %no-bullet-ul;
  display: flex;
  flex-flow: row wrap;
  margin: 0 $spacing-sm $spacing-md 0;

  @include bp(screen2) {
    margin: 0 $spacing-sm 0 0;
  }

}

%c-scholworks__media-item {
  flex: 1 0 40%;
  margin: $spacing-sm $spacing-sm 0 0;
  padding: 0 0 0 25px;
  background: no-repeat left top / 16px;
  color: $color-teal;
}

.c-scholworks__media-audio {
  @extend %c-scholworks__media-item;
  background-image: inline('../images/icon_volume-up.svg');
}

.c-scholworks__media-image {
  @extend %c-scholworks__media-item;
  background-image: inline('../images/icon_picture.svg');
}

.c-scholworks__media-pdf {
  @extend %c-scholworks__media-item;
  background-image: inline('../images/icon_pdf-teal.svg');
}

.c-scholworks__media-video {
  @extend %c-scholworks__media-item;
  background-image: inline('../images/icon_play-circle-o.svg');
}

.c-scholworks__rights {
  flex: 0 0 auto;

  @include bp(screen2) {
    margin: ($spacing-sm * 2) 0 0;
  }

}
