// ##### Search Object ##### //

.o-search {
	// empty
}

.o-search__form {
	display: flex;
	height: $input-height;
	margin: 0 0 $spacing-sm;
}

.o-search__label {
	@extend %hide;
}

.o-search__field {
	flex: 1 0 auto;
	width: 300px;
	padding: 0 0 0 40px;
	border: 1px solid $color-light-gray;
	border-radius: 3px;
	background: url('/images/icon_magnify.svg') no-repeat left 8px center / 16px;
	font-size: 0.8em;

	@include bp(screen3) {
		border-right: none;
		border-radius: 3px 0 0 3px;
	}

}

.o-search__submit-button {
	@extend %hide;

	@include bp(screen3) {
		// first 2 properties make up %show, because Sass @extends are not allowed within media queries:
		position: static;
  	left: auto;
  	padding: 0 16px;
		border: none;
		background-color: $color-teal;
		color: $color-white;
	}

}

.o-search__search-close-button {
	margin: 0 0 0 $spacing-body;
	padding: 0 13px;
	border: none;
	background: url('/images/icon_close.svg') no-repeat center / 20px;

	@include bp(screen3) {
		display: none;
	}

}

.o-search__refine {

	label:first-of-type {
		margin: 0 20px 0 0;
	}

}

