// ##### Search1 Component ##### //

.c-search1 {
  position: fixed; // prevents horizontal overflow and scrollbar on small screens
  right: 0;
  left: 0;
  background-color: $color-white;

  @include bp(screen2) {
    position: static;
  }

}

.c-search1__form {
  display: flex;
  min-height: $input-height;
  margin-bottom: $spacing-sm;
}

.c-search1__label {
  @extend %hide;
}

.c-search1__field {
  flex: 1 0 auto;
  padding: 0 0 0 30px;
  border: 1px solid $color-light-gray;
  border-radius: 3px;
  background: inline('../images/icon_magnify.svg') no-repeat left 8px center / 16px;

  @include bp(screen2) {
    padding: 0 0 0 $spacing-sm;
    background: none;
  }

}

.c-search1__submit-button {
  @extend %hide;

  @include bp(screen2) {
    position: static;
    left: auto;
    min-height: $input-height;
    padding: 0 ($input-height / 2);
    border: none;
    background: inline('../images/icon_magnify.svg') no-repeat center right / 25px;
  }

}

.c-search1__search-close-button {
  min-height: $input-height;
  padding: 0 ($input-height / 2);
  border: none;
  background: inline('../images/icon_close.svg') no-repeat center right / 20px;

  @include bp(screen2) {
    display: none;
  }

}

.c-search1__tagline {
  color: $color-dark-gray;
  font-size: 0.75em;
}
