// ##### Search1 Component ##### //

.c-search1 {
  // not used
}

.c-search1__form {
  display: flex;
  height: $input-height;
  margin: 0 0 $spacing-sm;
}

.c-search1__label {
  @extend %hide;
}

.c-search1__field {
  flex: 1 0 auto;
  width: 17.4em;
  margin: 0 5px 0 0;
  padding: 0 0 0 30px;
  border: 1px solid $color-light-gray;
  border-radius: 3px;
  background: inline('../images/icon_magnify.svg') no-repeat left 8px center / 16px;

  @include bp(screen2) {
    padding: 0 0 0 $spacing-sm;
    background: none;
  }

}

.c-search1__submit-button {
  @extend %hide;

  @include bp(screen2) {
    // first 2 properties make up %show, because Sass @extends are not allowed within media queries:
    position: static;
    left: auto;
    padding: 0 13px;
    border: none;
    background: inline('../images/icon_magnify.svg') no-repeat center / 25px;
  }

}

.c-search1__search-close-button {
  height: $input-height;
  padding: 0 13px;
  border: none;
  background: inline('../images/icon_close.svg') no-repeat center / 20px;

  @include bp(screen2) {
    display: none;
  }

}

.c-search1__tagline {
  color: $color-dark-gray;
  font-size: 0.75em;
}
