// ##### Share Component ##### //

.c-share {
  position: relative;

  summary {
    display: inline-block;
    position: relative;
    min-height: $element-height;
    padding: 0 40px;
    border-radius: $round-corner;
    background: $color-teal url('../images/icon_share-square-o-white.svg') no-repeat left $spacing-sm center / 16px;
    color: $color-white;
    line-height: $element-height;
    user-select: none;

    &::after {
      position: absolute;
      top: 0;
      right: $spacing-sm;
      bottom: 0;
      padding: 0 7px;
      background: url('../images/icon_arrow-down-white.svg') no-repeat center / 13px;
      content: '';
    }

  }

  &[open] {

    summary::after {
      transform: rotate(180deg);
    }

  }

}

.c-share__list {
  @extend %no-bullet-ul;
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 5px;
  background-color: lighten($color-black, 35%);
  z-index: 1;

  @supports (backdrop-filter: blur()) {
    background-color: rgba($color-black, 0.6);
    backdrop-filter: blur(5px);
  }

  @include bp(screen2) {
    width: 130px;
  }

  li {

    &:not(:first-child) a {
      border-top: none;
    }

    @include bp(screen2) {

      a {
        border: none;
      }

    }

  }

}

%c-share__link {
  @extend %nav-item;
  padding-left: 40px;
  background: no-repeat left $spacing-sm center / 16px;
  color: $color-white;
}

.c-share__email {
  @extend %c-share__link;
  background-image: url('../images/icon_envelope-o-white.svg');
}

.c-share__facebook {
  @extend %c-share__link;
  background-image: url('../images/logo_facebook-white.svg');
}

.c-share__twitter {
  @extend %c-share__link;
  background-image: url('../images/logo_twitter-white.svg');
}
