// ##### Sidebar Navigation Component ##### //

// scss-lint:disable SelectorDepth, NestingDepth

.c-sidebarnav {

  ul {
    @extend %no-bullet-ul;

    li {
      margin: 0 0 15px;

      a {
        color: $color-black;
        font-size: 1.1em;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

      }

    }

  }

}
