// ##### Social Icons Component ##### //

.c-socialicons {
  margin-right: $spacing-sm;

  a {

    &:not(:first-child) {
      margin-left: $spacing-sm;
    }

    img {
      height: $element-height;
    }

  }

}
