// ##### Sort By Component ##### //

.c-sort {
  display: flex;
  margin: 0 0 $spacing-md;

  @include bp(screen2) {
		margin: 0 $spacing-md $spacing-md 0;
  }

}

.c-sort__page-input {
	margin: 0 0 0 $spacing-md;
}
