// ##### stats reports styles ##### //

.c-statsReport h1 {
  font-size: 1.5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.c-statsReport h2 {
  font-size: 1.2em;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

.c-statsReport form {
  margin-bottom: 1em;
}

.c-statsReport label {
  margin-right: 0.2em;
}

.c-statsReport select {
  margin-right: 0.6em;
}

.c-statsReport button {
  margin-left: 0.5em;
}

.c-statsReport-id {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 90%;
}

.c-statsReport-title {
  min-width: 300px;
}
