// ##### Statistics Objects ##### //

%o-stat__number {
  display: block;
  margin-bottom: $spacing-base;
  font-family: 'KievitWebLight';
  font-size: 1.3em;
  font-weight: bold;

  @include bp(screen3) {
    font-size: 1.6em;
  }

}

%o-stat {
  display: inline-block;
  padding: 2.2em $spacing-base 0;
  background: no-repeat top center / auto 1.5em;
  text-align: center;

  a {
    @extend %o-stat__number;
    @extend %o-textlink__secondary;
  }

  b {
    @extend %o-stat__number;
    color: $color-light-black;
  }

}

.o-stat--item {
  @extend %o-stat;
  background-image: inline('../images/icon_book-light-black.svg');
}

.o-stat--view {
  @extend %o-stat;
  background-image: inline('../images/icon_eye-light-black.svg');
}

.o-stat--passed {
  @extend %o-stat;
  background-image: inline('../images/icon_open-access-light-black.svg');
}

.o-stat--journals {
  @extend %o-stat;
  background-image: inline('../images/icon_file-text-light-black.svg');
}

.o-stat--units {
  @extend %o-stat;
  background-image: inline('../images/icon_university-light-black.svg');
}
