// ##### adminbar Component ##### //

.c-editable__modal {
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: $color-black-semitrans; /* Black w/ opacity */
  overflow: auto; /* Enable scroll if needed */
  z-index: 99; /* Sit on top */
}

/* Modal Content/Box */
.c-editable__modal-content {
  width: 50%; /* Could be more or less, depending on screen size */
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid $color-light-gray;
  background-color: $color-white;
}

.c-editable__working {
  position: absolute; /* Stay in place */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: $color-light-black-semitrans; /* Grey w/ opacity */
  z-index: 1; /* Sit on top of content */
}

.c-editable__working-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  color: $color-white;
  font-size: 200%;
}

.c-editable__edit-buttons {
   position: absolute;
   right: 1em;
   bottom: 1em;
}

.c-editable__delete-button {
  margin-left: 0.5em;
}
