// ##### Subheader 2 Component ##### //

.c-subheader2 {
  display: flex;
  position: relative; // to absolute positioned nav component
  align-items: center;
  justify-content: space-between;
  margin: 0 (-$spacing-sm);
  padding: 0 $spacing-sm $spacing-sm;
  border-bottom: 2px solid $color-light-gray;
  background-color: $color-white;
}

.c-subheader2__banner {
  display: none;

  @include bp(screen3) {
    display: block;
    width: 100%;
    min-width: 0;
    max-width: 800px;
    margin-right: $spacing-md;
  }

}

.c-subheader2__buttons {
  display: flex;
  flex-direction: row;

  @include bp(screen3) {
    flex-direction: column;
  }

  button {

    &:not(:first-child) {
      margin-left: 2px;

      @include bp(screen3) {
        margin: 2px 0 0;
      }

    }

  }

}

.c-subheader2__button-fragment {
  position: absolute;
  left: -9999px;

  @include bp(screen3) {
    display: block;
    position: static;
    left: auto;
  }

}
