// ##### Subheader 1 Component ##### //

.c-subheader1 {
  position: relative; // to .c-subheader1__button
  margin: (-$spacing-sm) (-$spacing-sm) $spacing-md;
  padding: $spacing-sm;
  border-bottom: 2px solid $color-light-gray;
  background: $color-white;

  @supports (display: grid) {
    display: grid;
  }

}

.c-subheader1__header {
  
  @include bp(screen3) {
    margin-right: 25%;

    @supports (display: grid) {
      margin-right: 0;
    }

  }

}

.c-subheader1__nav {

  @supports (display: grid) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    @include bp(screen3) {
      grid-column: 1 / 3;
    }

  }

}

.c-subheader1__button {
  position: absolute;
  top: 75px;
  right: 10px;

  @supports (display: grid) {
    position: static;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: end;
  }

  @include bp(screen3) {
    top: 10px;

    @supports (display: grid) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

  }

}
