// ##### Subheader Component ##### //

.c-subheader {
  @extend %page-bleed;
  display: flex;
  position: relative; // to absolute positioned nav component
  align-items: center;
  justify-content: space-between;
  padding: $spacing-sm;
  border-top: 2px solid $color-light-gray;
  background-color: $color-white;

  @include bp(screen4) {
    padding: $spacing-sm $spacing-lg;
  }

}

.c-subheader__banner {
  @extend %o-textlink__black;
  display: flex;
  align-items: center;
  margin-right: $spacing-md;

  h1 {
    order: 2;
    margin: 0;
    font-size: 1em;
    text-align: right;

    @include bp(screen3) {
      font-size: 1.2em;
    }

  }

  img {
    display: none;

    @include bp(screen3) {
      display: block;
      flex: 0 0 auto;
      order: 1;
      width: 100%;
      min-width: 0;
      max-width: 800px;
      max-height: 90px;
    }

  }

  h1 + img {
    width: auto;

    @include bp(screen3) {
      margin-right: $spacing-sm;
    }

  }

}

.c-subheader__sidebar {
  display: flex;
  flex-direction: column;

  button {

    &:not(:first-child) {
      margin-top: 2px;
    }

  }

}

.c-subheader__sidebar-text {
  display: none;

  @include bp(screen3) {
    display: block;
    width: 14em;
    margin: $spacing-sm 0;
    font-size: 0.8em;
    text-align: right;
  }

}

.c-subheader__sidebar-number {
  display: none;

  @include bp(screen3) {
    display: block;
    color: $color-teal;
    text-align: right;
  }

}

.c-subheader__button-fragment {
  position: absolute;
  left: -9999px;

  @include bp(screen3) {
    display: block;
    position: static;
    left: auto;
  }

}
