// ##### Subheader Component ##### //

.c-subheader {
  @extend %page-bleed;
  display: flex;
  position: relative; // to absolute positioned nav component
  align-items: center;
  justify-content: space-between;
  padding: $spacing-sm;
  border-top: 2px solid $color-light-gray;
  background-color: $color-white;

  @include bp(screen4) {
    padding: $spacing-sm $spacing-lg;
  }

}

.c-subheader__banner {
  display: none;

  @include bp(screen3) {
    display: block;
    width: 100%;
    min-width: 0;
    max-width: 800px;
    max-height: 90px;
    margin-right: $spacing-md;
  }

}

.c-subheader__sidebar {
  display: flex;
  flex-direction: row;

  @include bp(screen3) {
    flex-direction: column;
  }

  button {

    &:not(:first-child) {
      margin-left: 2px;

      @include bp(screen3) {
        margin: 2px 0 0;
      }

    }

  }

}

.c-subheader__sidebar-text {
  display: none;

  @include bp(screen3) {
    display: block;
    width: 14em;
    margin: $spacing-sm 0;
    font-size: 0.8em;
    text-align: right;
  }

}

.c-subheader__sidebar-number {
  display: none;

  @include bp(screen3) {
    display: block;
    color: $color-teal;
    text-align: right;
  }

}

.c-subheader__button-fragment {
  position: absolute;
  left: -9999px;

  @include bp(screen3) {
    display: block;
    position: static;
    left: auto;
  }

}
