// ##### Tab Content Components ##### //

.c-tabcontent {
  // not used
}

.c-tabcontent__heading {
  margin-top: 0;
  margin-bottom: $spacing-md;
  color: $color-teal;
  font-size: 1.6em;
  font-weight: normal;
  line-height: 1.1;
}
