// ##### Tabs v.2 Component ##### //

$tab-height: $element-height;

%c-tabs2 {
  display: flex;
  position: relative;
  flex-wrap: wrap;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: $spacing-sm;

    @include bp(screen1) {
      grid-template-columns: repeat(3, auto);
    }

    @include bp(screen3) {
      grid-template-columns: repeat(5, auto);
    }

  }

}

.c-tabs2 {
  @extend %c-tabs2;
}

%c-tabs2__details {
  flex: 1 0 auto;
}

.c-tabs2__details {
  @extend %c-tabs2__details;

  @supports (display: grid) {

    &:nth-of-type(n+2) { // 2 and more children
      display: none;
    }

    @include bp(screen1) {

      &:nth-of-type(n) { // all children
        display: block;
      }

      &:nth-of-type(n+3) { // 3 and more children
        display: none;
      }

    }

    @include bp(screen3) {

      &:nth-of-type(n) {
        display: block;
      }

    }

  }

}

.c-tabs2--show-all {
  @extend %c-tabs2;

  .c-tabs2__details {
    @extend %c-tabs2__details;

    @supports (display: grid) {

      &:nth-of-type(n) {
        display: block;
      }

    }

  }

}

%c-tabs2__summary {
  min-height: $tab-height;
  padding: 5px $spacing-sm;
  border: none;
  background-color: $color-light-gray;
  font-size: 1.1em;
  text-align: center;
  user-select: none;
}

.c-tabs2__summary {
  @extend %c-tabs2__summary;
}

.c-tabs2__summary--active {
  @extend %c-tabs2__summary;
  background-color: $color-white;
}

.c-tabs2__tabpanel {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  margin: (-$spacing-sm) (-$spacing-sm) $spacing-sm;
  padding: $spacing-md $spacing-sm;
  background-color: $color-white;
  box-shadow: $box-shadow1;

  @supports (display: grid) {
    margin-top: 0;
  }

  @include bp(screen2) {
    margin-right: 0;
    margin-left: 0;
    padding: $spacing-md $spacing-sm $spacing-sm;
  }

}

.c-tabs2__button {
  @extend %c-tabs2__summary;
  display: none;
  position: absolute;
  top: 0;
  right: 0;

  @supports (display: grid) {
    display: block;
    position: static;
    width: 40px;
    justify-self: end;
    grid-column: 2;
    grid-row: 1;

    @include bp(screen1) {
      grid-column: 3;
    }

    @include bp(screen3) {
      display: none;
    }

  }

}
