// ##### Testing ##### //

// Exclusion rule for scss-lint:
// scss-lint:disable all

// ***** Highlight Elements ***** //

$bred: 1px solid #f00;
$bblue: 1px solid #00f;
$bgreen: 1px solid #0c0;

// ***** Subhead Layout Test***** //

.test-subhead {
  display: flex;
  flex-flow: row wrap;
}

.test-subhead__campus {

  @include bp(screen3) {
    order: 1;
  }

}

.test-subhead__menu {
  
  @include bp(screen3) {
    order: 4;
    flex: 1 1 100%;
  }

}

.test-subhead__deposit {
  
  @include bp(screen3) {
    order: 3;
  }

}

.test-subhead__banner {
  display: none;

  @include bp(screen3) {
    display: block;
    order: 2;
    flex: 1 0 auto;
  }

}

// Borders:

.test-subhead {
  border: 2px solid gray;
}

.test-subhead__campus {
  border: 2px solid red;
}

.test-subhead__menu {
  border: 2px solid blue;
}

.test-subhead__deposit {
  border: 2px solid green;
}

.test-subhead__banner {
  border: 2px solid orange;
}

// Grid

.c-grid {
  display: grid;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: 1fr auto auto;
  min-height: 90vh; // should be using 100% instead but not working

  border: 2px solid $color-black;

  header {
    grid-column: 1 / span 3;
  }

  main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: $bgreen;
  }

  aside {

    &:first-of-type { // left column
      grid-column: 1 / 2;

      border: $bred;
    }

    &:last-of-type { // right column
      grid-column: 3 / 4;

      border: $bblue;
    }

  }

  footer {
    grid-column: 1 / span 3;
    align-self: end;

    border: 1px solid $color-orange;
  }

}

