// ##### Testing ##### //

// Turn off linting in this file for gulp-sass-lint:
// sass-lint:disable-all

.c-test {
  position: relative;

  border: 5px solid black;
}

.c-test__details {
  display: inline-block;

  border: 5px solid green;
}

.c-test__summary {

  border: 5px solid blue;
}

.c-test__content {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;

  border: 5px solid red;
}
