// ##### Text Link Objects ##### //

%o-textlink__primary {
  color: $color-orange;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

.o-textlink__primary {
  @extend %o-textlink__primary;
}

%o-textlink__secondary {
  color: $color-teal;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

.o-textlink__secondary {
  @extend %o-textlink__secondary;
}

%o-textlink__colorless {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

.o-textlink__colorless {
  @extend %o-textlink__colorless;
}
