// ##### Text Link Objects ##### //

%o-textlink__primary {
  color: $color-orange;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

.o-textlink__primary {
  @extend %o-textlink__primary;
}

%o-textlink__secondary {
  color: $color-teal;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

.o-textlink__secondary {
  @extend %o-textlink__secondary;
}

%o-textlink__black {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

.o-textlink__black {
  @extend %o-textlink__black;
}

%o-textlink__left-icon {
  @extend %interactive-element-size;
  display: inline-flex;
  align-items: center;
  padding-left: 1.5em;
  background: no-repeat left center / 1em;
}

.o-textlink__left-icon {
  @extend %o-textlink__left-icon;
  // Default textlink style:
  @extend %o-textlink__secondary;
  // Default icon below. To use a different icon, create a new class, @extend with %o-textlink__left-icon, and apply background-image property with different image path:
  background-image: inline('../images/icon_pdf-teal.svg');
}
