// ##### Toggle List Component ##### //

.c-togglelist {
  // no styles
}

.c-togglelist__buttons {
  margin-bottom: $spacing-sm;
  margin-left: $pointer-size-fine;

  @include interactive-element-pointer(coarse) {
    margin-left: $pointer-size-coarse;
  }

  button {

    &:first-child {
      margin-right: $spacing-sm;
    }

  }

}

.c-togglelist__mainlist {
  @extend %no-bullet-ul;
  margin-left: $pointer-size-fine;

  @include interactive-element-pointer(coarse) {
    margin-left: $pointer-size-coarse;
  }

  li {
    position: relative;

    a {
      @extend %o-textlink__secondary;
      @extend %interactive-element-size;
      display: flex;
      align-items: center;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
    }

  }

}

.c-togglelist__sublist {

  summary {
    color: $color-teal;
    user-select: none;

    &::after { // ::before can't be used; see resets.scss
      @extend %interactive-element-size;
      position: absolute;
      top: 0;
      left: (-$pointer-size-fine);
      background: inline('../images/icon_plus-black.svg') no-repeat center / 1.1em;
      content: '';

      @include interactive-element-pointer(coarse) {
        left: (-$pointer-size-coarse);
      }

    }

  }

  &[open] {

    > summary {

      &::after {
        background-image: inline('../images/icon_minus-black.svg');
      }

    }

  }

  ul {
    @extend %no-bullet-ul;
    margin-left: $pointer-size-fine;

    @include interactive-element-pointer(coarse) {
      margin-left: $pointer-size-coarse;
    }

  }

}
