// ##### Toggle List Component ##### //

$togglelist-list-spacing: 10px;
$togglelist-indent: 22px;

.c-togglelist {
  // no styles
}

.c-togglelist__buttons {
  margin-bottom: $spacing-md;

  button {

    &:first-child {
      margin-right: $spacing-sm;
    }

  }

}

.c-togglelist__mainlist {
  @extend %no-bullet-ul;
  margin-left: $togglelist-indent;

  li {
    margin-bottom: $togglelist-list-spacing;

    a {
      @extend %o-textlink__secondary;
    }

  }

}

.c-togglelist__sublist {

  summary {
    position: relative;
    margin-bottom: $togglelist-list-spacing;
    color: $color-teal;
    user-select: none;

    &::after { // ::before can't be used; see resets.scss
      position: absolute;
      top: 0;
      bottom: 0;
      left: (-$togglelist-indent);
      padding: 8px;
      background: url('../images/icon_plus-black.svg') no-repeat center / 16px;
      content: '';
    }

    &:hover {
      text-decoration: underline;
    }

  }

  &[open] {

    > summary {

      &::after {
        background-image: url('../images/icon_minus-black.svg');
      }

    }

  }

  ul {
    @extend %no-bullet-ul;
    margin-left: $togglelist-indent;
  }

}
