// ##### UI Library ##### //

.ui-library-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: (-$spacing-body) (-$spacing-body) $spacing-body;
  padding: $spacing-body;
  background-color: $color-light-gray;
  overflow: hidden;

  h1,
  h2 {
    flex: 0 0 auto;
    margin: 0;
    font-size: 2em;
    font-weight: normal;
  }

  h1 {
  	margin: 0 1em 0 0;
    color: $color-dark-blue;

  	a {
  		color: inherit;
  	}

  }

}
