// ##### UI Library ##### //

.ui-library__header {
  @extend %page-bleed;
  display: flex;
  justify-content: space-between;
  margin-top: (-$spacing-body);
  margin-bottom: $spacing-body;
  padding: $spacing-body;
  background-color: $color-light-gray;
  overflow: hidden;

  h1,
  h2 {
    flex: 0 0 auto;
    margin: 0;
    font-size: 1em;
    font-weight: normal;

    @include bp(screen1) {
      font-size: 1.5em;
    }

    @include bp(screen2) {
      font-size: 2em;
    }

  }

  h1 {
    margin: 0 1em 0 0;
    color: $color-dark-blue;

    a {
      color: inherit;
    }

  }

}

.ui-library__list {
  line-height: $line-height1;

  ul {
    margin: $spacing-sm 0;
  }

}
