// ##### Unit Item Objects ##### //

$unititem-long-length: $itemcarousel-height;
$unititem-short-length: $unititem-long-length * 0.8;

%o-unititem {
  display: inline-block;
  position: relative;
  border: 1px solid $color-teal;
  background-color: $color-light-teal;
  text-decoration: none;
}

.o-unititem--horz {
  @extend %o-unititem;
  width: $unititem-long-length;
  height: $unititem-short-length;
}

.o-unititem--vert {
  @extend %o-unititem;
  width: $unititem-short-length;
  height: $unititem-long-length;
}

%o-unititem__type {
  position: absolute;
  bottom: $spacing-sm;
  left: $spacing-sm;
  margin: 0;
  padding-top: 1.7em;
  background: no-repeat top center / 1.4em;
  color: $color-black;
  font-size: 0.7em;
  font-weight: normal;
}

.o-unititem__type--article {
  @extend %o-unititem__type;
  background-image: inline('../images/icon_file-text-o-black.svg');
}

.o-unititem__type--book {
  @extend %o-unititem__type;
  background-image: inline('../images/icon_book.svg');
}

.o-unititem__type--multimedia {
  @extend %o-unititem__type;
  background-image: inline('../images/icon_play-circle-o-black.svg');
}

.o-unititem__type--thesis {
  @extend %o-unititem__type;
  background-image: inline('../images/icon_graduation-cap-black.svg');
}

.o-unititem__title {
  display: flex;
  align-items: flex-end;
  height: 50%; // also sets truncation via jquery.dotdotdot
  padding: $spacing-sm $spacing-sm $spacing-base;
  background-color: $color-teal;
  color: $color-white;
  line-height: $line-height;
  overflow: hidden;
}

.o-unititem__author {
  @extend %no-bullet-ul;
  height: 2.5em; // truncate to 1 line per jquery.dotdotdot
  padding: $spacing-md $spacing-sm 0;
  color: $color-black;
  overflow: hidden;

  li {
    display: inline-block;

    &:not(:last-child) {

      &::after {
      content: ';\00a0'; // semicolon with no-break space
      }

    }

  }

}
