// ##### Unit Publication Component ##### //

.c-unitpub {
  margin-bottom: $spacing-md;

  .c-pub {
    padding-left: 4%;
  }

}

.c-unitpub__heading {
  @extend %o-heading2a;

  a {
    @extend %o-textlink__secondary;
  }

}

.c-unitpub__publications {
  margin-bottom: $spacing-md;

  a {
    @extend %o-textlink__secondary;
  }

}
