// ##### Unit List Component ##### //

.c-unitlist {

  @include headings() {
    @extend %o-heading1a;
  }

  ul {
    @extend %no-bullet-ul;
  }

  li {

    &:not(:last-child) {
      margin-bottom: $spacing-md;
    }

  }

  a {
    @extend %o-heading2;
    @extend %o-textlink__secondary;
  }

  + .c-unitlist {
    padding-top: $spacing-md;
    border-top: 1px solid $color-dark-gray;
  }

}

div[class='c-unitlist'] {
  
  &:not(:last-child) {
    padding-bottom: $spacing-md;
  }

}
