// ##### Global Variables ##### //

// ***** Colors ***** //

$color-orange: rgb(230, 87, 34);
$color-teal: rgb(20, 122, 141);
$color-light-teal: rgb(232, 241, 241);
$color-dark-blue: rgb(0, 85, 129);
$color-light-gray: rgb(198, 198, 198);
$color-dark-gray: rgb(124, 126, 127);
$color-light-black: rgb(51, 51, 51);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

// ***** Spacing ***** //

$spacing-base: 5px;
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-body: $spacing-sm;

// ***** General ***** //

$box-shadow1: 5px 5px 15px lighten($color-dark-gray, 30%);
$box-shadow2: 2px 2px 2px lighten($color-dark-gray, 30%);
$column-width: 28%;
$element-height: 32px;
$pointer-size-coarse: 2.8em;
$pointer-size-fine: 2em;
$line-height: 1.2;
$round-corner: 3px;
$itemcarousel-height: 14em;
