// ##### Global Variables ##### //

// ***** Colors ***** //

$color-orange: rgb(230, 87, 34);
$color-teal: rgb(20, 122, 141);
$color-dark-blue: rgb(0, 85, 129);
$color-light-gray: rgb(198, 198, 198);
$color-dark-gray: rgb(124, 126, 127);
$color-light-black: rgb(51, 51, 51);
$color-light-black-semitrans: rgba(51, 51, 51, 0.5); /* used for modals */
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-black-semitrans: rgba(0, 0, 0, 0.5); /* used for modals */

// ***** Spacing ***** //

$spacing-base: 5px;
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-body: $spacing-sm;

// ***** General ***** //

$box-shadow: 5px 5px 15px lighten($color-dark-gray, 30%);
$column-width: 28%;
$element-height: 32px;
$round-corner: 3px;
