// ##### Global Variables ##### //

// ***** General ***** //

$input-height: 34px;

// [to go here]

// ***** Colors ***** //

$color-orange: rgb(230, 87, 34);
$color-teal: rgb(20, 122, 141);
$color-dark-blue: rgb(0, 85, 129);
$color-light-gray: rgb(204, 204, 204);
$color-dark-gray: rgb(124, 126, 127);
$color-light-black: rgb(51, 51, 51);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

// ***** Breakpoints ***** //

$screen-sm-min: 480px;
$screen-md-min: 760px;
$screen-lg-min: 870px;
$screen-max: 1280px;

// ***** Spacing ***** //

$spacing-base: 5px;
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-body: $spacing-sm;
