// ##### Content Well Component ##### //

.c-well {
  margin-bottom: $spacing-md;
  padding: $spacing-sm;
  background-color: $color-light-teal;

  @include bp(screen2) {
    padding: $spacing-md;
  }

  a {
    @extend %o-textlink__secondary;
  }

}
