// ##### Withdraw Modal Component ##### //

.c-withdrawmodal__warning {
  margin-bottom: 10px;
}

.c-withdrawmodal__label {
  font-weight: 700;
  margin-bottom: 5px;
}

.c-withdrawmodal__publicMessage,
.c-withdrawmodal__internalComment {
  margin-bottom: 10px;
  display: block;
  width: 600px;
}

.c-withdrawmodal__redirectTo {
  margin-bottom: 10px;
  display: block;
  width: 100px;
}
