// ##### Styles for eScholarship ##### //

// ***** Global Settings ***** //


@import 'variables';
@import 'mixins';
@import 'breakpoints';
@import 'testing';

// ***** Vendor Libraries ***** //

@import '../bower_components/normalize-scss/_normalize.scss';

// ***** Objects ***** //

@import 'button';
@import 'columnbox';
@import 'input';
@import 'textlink';

// ***** Components ***** //

@import 'breadcrumb';
@import 'checkbox';
@import 'columns';
@import 'export';
@import 'facetbox';
@import 'filter';
@import 'footer';
@import 'globalnav';
@import 'header';
@import 'infopages';
@import 'pagination';
@import 'scholworks';
@import 'search';
@import 'sidebarnav';
@import 'sort';

// ***** Layouts ***** //

@import 'about';
@import 'searchlayout';

// ***** Global Styles ***** //

@import 'fonts';
@import 'resets';
@import 'ui-library';

body {
	margin: 0 auto;
	padding: 10px;
	// background-color: lighten($color-light-gray, 15%);
	font-family: 'KievitWeb';
	overflow-x: hidden;
}

p {
	margin: 1em 0 0;
}
