// ##### Styles for eScholarship ##### //

// ***** Global Settings ***** //

@import 'variables';
@import 'mixins';
@import 'breakpoints';
@import 'test';

// ***** Vendor Libraries ***** //

@import '../bower_components/normalize-scss/_normalize.scss';
@import '../bower_components/flickity/dist/flickity.css';
@import '../bower_components/trumbowyg/dist/ui/trumbowyg.css';
@import 'eschol_pdf_viewer';

// ***** Objects ***** //

@import 'alert';
@import 'button';
@import 'columnbox';
@import 'dividecontent';
@import 'imagecontent';
@import 'input';
@import 'textlink';

// ***** Components ***** //

@import 'authorlist';
@import 'breadcrumb';
@import 'campusselector';
@import 'checkbox';
@import 'columns';
@import 'datatable';
@import 'descriptionlist';
@import 'download';
@import 'drawer';
@import 'export';
@import 'facetbox';
@import 'filter';
@import 'frontmatter';
@import 'footer';
@import 'header';
@import 'infopages';
@import 'itemactions';
@import 'itemunavailable';
@import 'journalinfo';
@import 'jump';
@import 'language';
@import 'marquee';
@import 'mediafile';
@import 'mediafilegrid';
@import 'nav';
@import 'nav1';
@import 'nav2';
@import 'navbar';
@import 'pagination';
@import 'pubdata';
@import 'publocation';
@import 'refinemedia';
@import 'scholworks';
@import 'search1';
@import 'search2';
@import 'share';
@import 'sidebarnav';
@import 'skipnav';
@import 'sort';
@import 'socialicons';
@import 'subheader1';
@import 'subheader2';
@import 'tabcontent';
@import 'tabs';
@import 'togglecontent';
@import 'togglelist';
@import 'well';

// ***** Layouts ***** //

@import 'about';
@import 'item';
@import 'journal';
@import 'searchlayout';

// ***** Global Styles ***** //

@import 'fonts';
@import 'resets';
@import 'ui-library';

body {
  margin: 0 auto;
  padding: $spacing-sm $spacing-sm 0;
  background-color: lighten($color-light-gray, 15%);
  font-family: 'KievitWeb';
  overflow-x: hidden;
}

p {
  margin: 0 0 $spacing-sm;
  line-height: 1.2em;
}
