// ##### Styles for eScholarship ##### //

// ***** Global Settings ***** //

@import 'breakpoints';
@import 'variables';
@import 'mixins';

// ***** Vendor Libraries ***** //

@import '../bower_components/normalize-scss/_normalize.scss';

// ***** Added to jschol (not in eschol-ui) ***** //
@import '../bower_components/flickity/dist/flickity.css';
@import '../bower_components/trumbowyg/dist/ui/trumbowyg.css';
@import 'adminbar';
@import 'drawer';
@import 'editable';
@import 'eschol_pdf_viewer';
@import 'issueConfig';
@import 'searchExtra';
@import 'widgetselector';

// ***** Objects ***** //

@import 'alert';
@import 'button';
@import 'columnbox';
@import 'customselector';
@import 'dividecontent';
@import 'heading';
@import 'imagecontent';
@import 'input';
@import 'textlink';
@import 'stat';

// ***** Components ***** //

@import 'authorlist';
@import 'breadcrumb';
@import 'campussearch';
@import 'campusselector';
@import 'checkbox';
@import 'columns';
@import 'datatable';
@import 'descriptionlist';
@import 'download';
@import 'export';
@import 'facetbox';
@import 'filter';
@import 'footer';
@import 'header';
@import 'heatmap';
@import 'hero';
@import 'homesection1';
@import 'homesection2';
@import 'homesection3';
@import 'infopages';
@import 'itemactions';
@import 'itemcarousel';
@import 'itemunavailable';
@import 'journal';
@import 'journalgrid';
@import 'journalinfo';
@import 'jump';
@import 'language';
@import 'marquee';
@import 'mediafeature';
@import 'mediafile';
@import 'mediafilegrid';
@import 'medialist';
@import 'modal';
@import 'nav';
@import 'navbar';
@import 'pagination';
@import 'pdfview';
@import 'pub';
@import 'pubdata';
@import 'publocation';
@import 'pubpreview';
@import 'pubyear';
@import 'relateditems';
@import 'scholworks';
@import 'search1';
@import 'search2';
@import 'servererror';
@import 'share';
@import 'sidebarnav';
@import 'skipnav';
@import 'sort';
@import 'sortpagination';
@import 'socialicons';
@import 'statcarousel';
@import 'subheader';
@import 'tabcontent';
@import 'tabs';
@import 'teaser';
@import 'testmessage';
@import 'textlist';
@import 'togglecontent';
@import 'togglelist';
@import 'togglesection';
@import 'unititem';
@import 'unitlist';
@import 'unitpub';
@import 'viewexternal';
@import 'well';
@import 'wizard';

// ***** Global Styles ***** //

@import 'fonts';
@import 'resets';
@import 'ui-library';

body {
  margin: 0 auto;
  padding: $spacing-sm $spacing-sm 0;
  background-color: lighten($color-light-gray, 15%);
  font-family: 'KievitWeb';
  overflow-x: hidden;

  @include bp (screen2) {
    padding: $spacing-sm $spacing-md 0;
  }

}

p {
  margin: 0 0 $spacing-sm;
  line-height: $line-height1;
}
