// ##### Styles for eScholarship ##### //

// ***** Global Settings ***** //

@import 'variables';
@import 'mixins';
@import 'testing';

// ***** Vendor Libraries ***** //

@import '../bower_components/normalize-scss/_normalize.scss';

// ***** Objects ***** //

@import 'columnbox';
@import 'search';

// ***** Components ***** //

@import 'footer';
@import 'globalnav';
@import 'header';

// ***** Themes ***** //

// [to go here]

// ***** Global Styles ***** //

@import 'fonts';
@import 'resets';
@import 'ui-library';

body {
	margin: 0 auto;
	padding: 10px;
	font-family: 'KievitWeb';
	overflow-x: hidden;
}
