// ##### Styles for eScholarship ##### //

// ***** Global Settings ***** //

@import 'variables';
@import 'mixins';
@import 'testing';

// ***** Vendor Libraries ***** //

// [to go here]

// ***** Objects ***** //

// [to go here]

// ***** Components ***** //

// [to go here]

// ***** Themes ***** //

// [to go here]

// ***** Global Styles ***** //

@import 'ui-library';
@import 'fonts';

body {
	margin: 0 auto;
	padding: 10px;
	font-family: 'KievitWeb';
}
