// ##### Styles for eScholarship ##### //

// ***** Global Settings ***** //


@import 'variables';
@import 'mixins';
@import 'breakpoints';
@import 'testing';

// ***** Vendor Libraries ***** //

@import '../bower_components/normalize-scss/_normalize.scss';
@import '../bower_components/flickity/dist/flickity.css';
@import '../bower_components/trumbowyg/dist/ui/trumbowyg.css';
@import 'eschol_pdf_viewer';

// ***** Objects ***** //

@import 'button';
@import 'columnbox';
@import 'dividecontent';
@import 'imagecontent';
@import 'input';
@import 'textlink';

// ***** Components ***** //

@import 'adminbar';
@import 'authorlist';
@import 'breadcrumb';
@import 'campus';
@import 'checkbox';
@import 'columns';
@import 'download';
@import 'drawer';
@import 'export';
@import 'facetbox';
@import 'filter';
@import 'frontmatter';
@import 'footer';
@import 'header1';
@import 'header2';
@import 'infopages';
@import 'itemactions';
@import 'journalinfo';
@import 'jump';
@import 'language';
@import 'marquee';
@import 'nav';
@import 'nav1';
@import 'nav2';
@import 'navbar';
@import 'pagination';
@import 'publishedlocation';
@import 'scholworks';
@import 'search1';
@import 'search2';
@import 'share';
@import 'sidebarnav';
@import 'socialicons';
@import 'sort';
@import 'staticpage';
@import 'subheader';
@import 'tabcontent';
@import 'table';
@import 'tabs';
@import 'togglecontent';
@import 'well';

// ***** Layouts ***** //

@import 'about';
@import 'item';
@import 'journal';
@import 'searchlayout';

// ***** Global Styles ***** //

@import 'fonts';
@import 'resets';
@import 'ui-library';

body {
  font-family: 'KievitWeb';
  overflow-x: hidden;  
}

.body {
  margin: 0 auto;
  padding: 10px;

  @include bp(screen2) {
    background: lighten($color-light-gray, 15%);
  }

}

p {
  margin: 0 0 1em;
  line-height: 1.2em;
}

*:focus {
  outline: $color-orange solid 1px;
}
