# eslint should ignore code that is not under CDL control
node_modules/**
backstop_data/**
gems/**
app/isomorphic.js
app/js/vendors*
app/js/downloadjs*
app/js/*-bundle-*
app/js/MediaPath.js
# we don't need to run eslint on the aws folder, that's none of our business
aws/**
