app/bower_components
app/css
app/js/*bundle*.js
app/js/manifest.json
app/js/*.map
bin/
.bundle/
bower_components/
cache/
config/
db_backup/
dist
gems/
gomysql
jschol.pid
logs/
node_modules/
normalized/
prefilterDirs.txt
public/css/
public/js/
redirects/
splash/downloaded/
splash/tmp/
splash/WEB-INF/classes/
splash/WEB-INF/lib/
splash/test/
test.db
testLogs/
tmp/
node_modules
.DS_Store
*.css.map
*.log
.mysqlProxySock
*.sql_log
