app/css
app/js/*bundle*.js
app/js/manifest.json
app/js/*.map
app/siteMap*.xml
awsLogs/
backstop_data/
bin/
.bundle/
cache/
config/
db_backup/
dist
gems/
gomysql
gulp
iso.pid
jschol.pid
logs/
mailLogs/
md5Logs/
node_modules/
normalized/
overlay_files/
prefilterDirs.txt
public/css/
public/js/
redirects/
robots.txt
splash/downloaded/
splash/tmp/
splash/WEB-INF/classes/
splash/WEB-INF/lib/
splash/test/
test.db
testCounts.csv
testLogs/
tmp/
node_modules
.DS_Store
*.css.map
*.log
.mysqlProxySock
*.out
*.sql_log
local.env
.lando.local.yml
config/puma.rb
dev/puma.rb
