app/bower_components
app/css
app/js/*bundle.js
app/js/*.map
bin/
.bundle/
bower_components/
cache/
config/
dist
Gemfile.lock
gems/
gomysql
node_modules/
prefilterDirs.txt
public/css/
public/js/
test.db
node_modules
.DS_Store
*.css.map
*.log
.mysqlProxySock
*.sql_log
