---
# .lando.local.yml is a file you can use to override and add to the main project .lando.yml configuration
# More documentation here: https://docs.lando.dev/config/lando.html#override-file
# In order to use this file, copy it to .lando.local.yml, and customize as desired

keys:
  - a_specific_key_filename

# these two examples are for running the quicktest against staging or dev
# you will need to provide the correct value for access in URL_PARAMS below
tooling:
  test-stg:
    service: appserver
    cmd: ruby test/quick.rb
    env:
      PUMA_PORT: 443
      SCHEME: https
      TARGET_HOST: pub-jschol2-stg.escholarship.org
      URL_PARAMS: access=CHANGEME
    description: LOCAL... Runs the quicktest suite against Jschol staging
  test-dev:
    service: appserver
    cmd: ruby test/quick.rb
    env:
      PUMA_PORT: 443
      SCHEME: https
      TARGET_HOST: pub-jschol2-dev.escholarship.org
      URL_PARAMS: access=CHANGME
    description: LOCAL... Runs the quicktest suite against Jschol dev
