# LOCAL.ENV is a Docker .env file derived from an example JSchol config/env.sh file
#
# ==> HOW TO USE: rename this file to local.env, and set the values below appropriately. 
#
# here are the Docker-Compose env file rules: https://docs.docker.com/compose/env-file/
# here are the Lando env file rules: https://docs.lando.dev/config/env.html
#
#
###############################################################################
OJS_DB_HOST=ojs-host
OJS_DB_PORT='3306'
OJS_DB_DATABASE=ojs
OJS_DB_USERNAME=ojsuser
OJS_DB_PASSWORD=ojspassword

###############################################################################
JSCHOL_KEY=jschol-key

###############################################################################
MRTEXPRESS_HOST=mrtexpress-host
MRTEXPRESS_USERNAME=mrtexpress-user
MRTEXPRESS_PASSWORD=mrtexpress-password

###############################################################################
S3_BUCKET=s3-bucket
S3_REGION=us-west-2
S3_BINARIES_PREFIX=jschol/binaries
S3_CONTENT_PREFIX=jschol/content
S3_PREVIEW_PREFIX=jschol/preview

###############################################################################
# ESCHOL_API_SERVER=https://pub-jschol2-stg.escholarship.org
#
#
# ###############################################################################
# THUMBNAIL_SERVER=https://pub-submit2-prd.escholarship.org
# PEOPLE_ARK_SHOULDER=ark:/99166/p3
#
# ###############################################################################
# CAREFUL! Use values for cloudsearch that match your SOCKS settings below 
CLOUDSEARCH_DOMAIN=cs-domain
CLOUDSEARCH_SEARCH_ENDPOINT=cs-endpoint
CLOUDSEARCH_DOC_ENDPOINT=cs-doc-endpoint

###############################################################################
SOCKS_PORT=1081
SOCKS_USER=your-user-name
SOCKS_TARGET=pub-submit2-dev.escholarship.org
SOCKS_BASTION=cdl-aws-bastion.cdlib.org
SOCKS_BASTION_PORT=bastion-port
# NOTE: Lando will copy all of your ssh keys to the appserver for you, so you just need
# to change the 'your-ssh-key-id' below, not the path
SOCKS_KEYPATH=/user/.ssh/your-ssh-key-id
USE_SOCKS_FOR_MYSQL=false
