files:
  # Install node and our npm modules
  "/opt/elasticbeanstalk/hooks/preinit/30_nginx_setup_fix.sh" :
      mode: "000775"
      owner: root
      group: users
      content: |
          #!/bin/bash

          # Patch beanstalk's config of nginx so it doesn't try to serve assets for us
          if grep --silent 'location /assets ' /etc/nginx/conf.d/webapp_healthd.conf; then
            echo "Patching /etc/nginx/conf.d/webapp_healthd.conf"
            cd /etc/nginx/conf.d/
            sed 's/location \/assets /location \/assets-no-no-no /' webapp_healthd.conf > webapp_healthd.conf.new
            mv webapp_healthd.conf webapp_healthd.conf.old
            mv webapp_healthd.conf.new webapp_healthd.conf
            #echo "Restarting nginx"
            #pkill -HUP -f 'nginx.*master process.*sbin/nginx'
          else
            echo "Already patched /etc/nginx/conf.d/webapp_healthd.conf"
          fi
