files:
  # Install node and our npm modules
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50node.sh" :
      mode: "000775"
      owner: root
      group: users
      content: |
          #!/bin/bash
          echo "Trying to install node.";

          app="$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)";

          # Install node 10 (and npm that comes with it)
          curl --silent --location https://rpm.nodesource.com/setup_10.x | bash -;
          yum clean expire-cache
          yum clean metadata
          yum -y install nodejs

          # We need git for some of our modules
          echo "Installing git."
          yum -y install git

          # Use npm to install node modules
          cd "${app}";
          echo "Running npm install.";
          npm install;

          # To run node express, we'll need /home/webapp to exist
          mkdir -p /home/webapp
          chown webapp.webapp /home/webapp
