files:
  # Install node and our npm modules
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50node.sh" :
      mode: "000775"
      owner: root
      group: users
      content: |
          #!/bin/bash
          echo "Trying to install node.";

          app="$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)";

          # Install node 10 (and npm that comes with it)
          curl --silent --location https://rpm.nodesource.com/setup_10.x | bash -;
          yum clean expire-cache
          yum clean metadata
          yum -y install nodejs

          # We need git for some of our modules
          echo "Installing git."
          yum -y install git

          # Use npm to install node modules
          cd "${app}";
          echo "Running npm install.";
          npm install;

          # To run node express, we'll need /home/webapp to exist
          mkdir -p /home/webapp
          chown webapp.webapp /home/webapp

          # We need extra puma configuration to start the isomorphic rendering express app
          if grep --silent startIsoServer /opt/elasticbeanstalk/support/conf/pumaconf.rb; then
            echo "Puma check: pumaconf.rb already patched"
          else
            echo "Puma check: patching pumaconf.rb"
            egrep -v '^(port|workers|threads) ' /var/app/current/config/puma.rb >> /opt/elasticbeanstalk/support/conf/pumaconf.rb
          fi

          # Patch beanstalk's config of nginx so it doesn't try to serve assets for us
          if grep --silent 'location /assets ' /etc/nginx/conf.d/webapp_healthd.conf; then
            echo "Patching /etc/nginx/conf.d/webapp_healthd.conf"
            cd /etc/nginx/conf.d/
            sed 's/location \/assets /location \/assets-no-no-no /' webapp_healthd.conf > webapp_healthd.conf.new
            mv webapp_healthd.conf webapp_healthd.conf.old
            mv webapp_healthd.conf.new webapp_healthd.conf
          else
            echo "Already patched /etc/nginx/conf.d/webapp_healthd.conf"
          fi
