files:
  # Runs right before `npm install` in '.../50npm.sh'
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/49node.sh" :
      mode: "000775"
      owner: root
      group: users
      content: |
          #!/bin/bash
          echo "Trying to install node.";

          app="$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)";

          # install node 10 (and npm that comes with it)
          curl --silent --location https://rpm.nodesource.com/setup_10.x | bash -;

          # use npm to install node modules
          cd "${app}";
          echo "Running npm install.";
          npm install;
