files:
  # Install node and our npm modules
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/20puma.sh" :
      mode: "000775"
      owner: root
      group: users
      content: |
          #!/bin/bash

          # We need extra puma configuration to start the isomorphic rendering express app
          if grep --silent startIsoServer /opt/elasticbeanstalk/support/conf/pumaconf.rb; then
            echo "Puma check: pumaconf.rb already patched"
          else
            echo "Puma check: patching pumaconf.rb"
            app="$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)";
            egrep -v '^(port|workers|threads) ' "${app}/config/puma.rb" >> /opt/elasticbeanstalk/support/conf/pumaconf.rb
          fi
