
###############################################################################
#export CLOUDFRONT_PUBLIC_URL=x      # optional
#export CLOUDFRONT_PRIVATE_KEY=x

###############################################################################
export CLOUDSEARCH_DOMAIN=x
export CLOUDSEARCH_SEARCH_ENDPOINT=x
export CLOUDSEARCH_DOC_ENDPOINT=x

###############################################################################
export ESCHOL_DB_HOST=x
export ESCHOL_DB_PORT=x
export ESCHOL_DB_DATABASE=x
export ESCHOL_DB_USERNAME=x
export ESCHOL_DB_PASSWORD=x

###############################################################################
export JSCHOL_KEY=x

###############################################################################
export MRTEXPRESS_HOST=x
export MRTEXPRESS_USERNAME=x
export MRTEXPRESS_PASSWORD=x

###############################################################################
export OJS_DB_HOST=x
export OJS_DB_PORT=x
export OJS_DB_DATABASE=x
export OJS_DB_USERNAME=x
export OJS_DB_PASSWORD=x

###############################################################################
export S3_REGION=x
export S3_BUCKET=x
export S3_PREFIX=x

###############################################################################
export PUMA_PORT=4001         # typical for local dev; chg to 18880 in production
export PUMA_WORKERS=1         # typical for dev; chg to 3 in production
export PUMA_THREADS=4         # typical for dev; chg to 8 (or more) in production
#export ISO_PORT=4002         # ISO_* optional in dev, unless running test/quick.rb

###############################################################################
export SOCKS_PORT=1081        # only on dev; omit SOCKS_* on production
export SOCKS_USER=x
export SOCKS_TARGET=x         # final machine to go to
#export SOCKS_BASTION=x        # intermediate bastion machine to hop through (optional)
#export SOCKS_BASTION_PORT=x   # port for hop (if nonstandard)
