
###############################################################################
export THUMBNAIL_SERVER=
export PEOPLE_ARK_SHOULDER=

###############################################################################
export CLOUDSEARCH_DOMAIN=
export CLOUDSEARCH_SEARCH_ENDPOINT=
export CLOUDSEARCH_DOC_ENDPOINT=

###############################################################################
export ESCHOL_DB_HOST=
export ESCHOL_DB_PORT=
export ESCHOL_DB_DATABASE=
export ESCHOL_DB_USERNAME=
export ESCHOL_DB_PASSWORD=

###############################################################################
export JSCHOL_KEY=

###############################################################################
export MRTEXPRESS_HOST=
export MRTEXPRESS_USERNAME=
export MRTEXPRESS_PASSWORD=

###############################################################################
export OJS_DB_HOST=
export OJS_DB_PORT=
export OJS_DB_DATABASE=
export OJS_DB_USERNAME=
export OJS_DB_PASSWORD=

###############################################################################
export S3_REGION=
export S3_BUCKET=
export S3_BINARIES_PREFIX=
export S3_CONTENT_PREFIX=
export S3_PREVIEW_PREFIX=

###############################################################################
export PUMA_PORT=
export PUMA_WORKERS=
export PUMA_THREADS=
export ISO_PORT=
export ISO_WORKERS=

###############################################################################
#export SOCKS_PORT=
#export SOCKS_USER=
#export SOCKS_TARGET=
#export SOCKS_BASTION=
#export SOCKS_BASTION_PORT=
