From: eschol-no-reply@escholarship.org
Subject: View your eScholarship publication usage statistics

<html>
  <body>
    <p>Dear eScholarship Editor/Administrator,</p>
    <p>This is your regular reminder that current usage statistics for the publication(s) you manage on
       <a href="https://escholarship.org">eScholarship</a> are always available via the link(s) below:</p>
    <ul>
      <% units.each do |unit| %>
        <li><a href="<%= unit.url %>/stats"><%= unit.name %></a></li>
      <% end %>
    </ul>
    <p>Additional information about these reports is available in our
      <a href="https://help.escholarship.org/support/solutions/folders/9000181583">help center</a>.<br/>
    </p>
    <p>eScholarship provides publication information to 
      <a href="https://help.escholarship.org/support/solutions/articles/9000133469">as many search and discovery services as possible</a>, since that is where most readers find eScholarship content. You also can increase readership by referring people to the URLs of your papers in eScholarship by using the SHARE button to share via Twitter, Facebook, email or by copying either the eScholarship URL or the DOI based URL, if your publication has one.</p>
    <p>Regards,<br/>
       The eScholarship Team<br/>
       <a href="mailto:help@escholarship.org">help@escholarship.org</a><br/>
      <span style="font-size: 80%;">eScholarship provides a suite of open access scholarly publishing and repository services that enable UC departments, research units, publishing programs, and individual scholars to have direct control over the creation and dissemination of their scholarship.</span>
    </p>
    <p>
      <a href="http://escholarship.org/">Learn more about eScholarship</a><br/>
      <a href="http://osc.universityofcalifornia.edu/open-access-policy/">Learn more about UC’s Open Access Policy</a>
    </p>
    <hr/>
    <p>You are receiving this message because you are listed as an editor or administrator for one or more publications on eScholarship. If this is no longer your role, please contact us so we may update our records and prevent future mailings: <a href="https://help.escholarship.org/support/tickets/new">https://help.escholarship.org/support/tickets/new</a>
    </p>
    <p>Note that replies to this message are routed to an unmonitored mailbox.</p>
  </body>
</html>
