From: eschol-no-reply@escholarship.org
Subject: New and improved eScholarship publication usage statistics now available!

<html>
  <body>
    <p>Dear eScholarship Editor/Administrator,</p>
    <p>You may have noticed that you haven’t received usage statistics for the publication(s) you manage in eScholarship since the redesigned site launched. That’s because we’ve been working on developing a completely new reporting service that updates nightly and enables you to customize your view of usage information.</p>
    <p>We’re pleased to announce that this new eScholarship usage statistics service is now live! You can view the statistics for the publications you manage via the link(s) below:</p>
    <ul>
      <% units.each do |unit| %>
        <li><a href="<%= unit.url %>/stats"><%= unit.name %></a></li>
      <% end %>
    </ul>
    <p>Additional information about the contents of these reports is available in our help center:<br/>
       <a href="https://help.escholarship.org/support/solutions/folders/9000181583">https://help.escholarship.org/support/solutions/folders/9000181583</a>
    </p>
    <p>Remember: you can increase your readership by referring people to the URLs of your papers in eScholarship.</p>
    <p>Regards,<br/>
       The eScholarship Team<br/>
       <a href="mailto:help@escholarship.org">help@escholarship.org</a><br/>
      <span style="font-size: 80%;">eScholarship provides a suite of open access, scholarly publishing services and research tools that enable departments, research units, publishing programs, and individual scholars associated with the University of California to have <em>direct control over the creation and dissemination of the full range of their scholarship.</em></span>
    </p>
    <p>Learn more about eScholarship:<br/>
       <a href="http://www.escholarship.org/">http://www.escholarship.org/</a><br/>
       Learn more about UC's Open Access Policy:<br/>
       <a href="http://osc.universityofcalifornia.edu/open-access-policy/">http://osc.universityofcalifornia.edu/open-access-policy/</a>
    </p>
    <hr/>
    <p>This message is being sent to you because you are listed as an administrator for one or more publications on eScholarship.
       If you are no longer the administrator for these publications please contact us so that we may update our records and prevent future mailings: <a href="https://help.escholarship.org/support/tickets/new">https://help.escholarship.org/support/tickets/new</a>
    </p>
    <p>Note that replies to this message are routed to an unmonitored mailbox.</p>
  </body>
</html>
