From: eschol-no-reply@escholarship.org
Subject: New and improved eScholarship publication usage statistics now available!

<html>
  <body>
    <p>Dear eScholarship Author,</p>
    <p>You may have noticed that you haven’t received usage statistics for your publication(s) in eScholarship since
       the <a href="https://help.escholarship.org/support/discussions/9000052123">redesigned site launched</a>. That’s because we’ve been working on developing a completely new reporting service that updates nightly and enables you to customize your view of usage information.</p>
    <p>We’re pleased to announce that this new eScholarship usage statistics service is now live! You can view the statistics for the publications at the link below:</p>
    <p>
      <a href="https://escholarship.org/uc/author/<%= person %>/stats">https://escholarship.org/uc/author/<%= person %>/stats</a>
    </p>
    <p>Additional information about the contents of these reports is available in our
       <a href="https://help.escholarship.org/support/solutions/folders/9000181583">help center</a>.
    </p>
    <p>Remember: you can increase your readership by referring people to the URLs of your papers in eScholarship.</p>
    <p>Regards,<br/>
       The eScholarship Team<br/>
       <a href="mailto:help@escholarship.org">help@escholarship.org</a><br/>
      <span style="font-size: 80%;">eScholarship provides a suite of open access scholarly publishing and repository services that enable UC departments, research units, publishing programs, and individual scholars to have direct control over the creation and dissemination of their scholarship.</span>
    </p>
    <p>
      <a href="http://escholarship.org/">Learn more about eScholarship</a><br/>
      <a href="http://osc.universityofcalifornia.edu/open-access-policy/">Learn more about UC’s Open Access Policy</a>
    </p>
    <hr/>
    <p>
      This message is being sent to you because you were listed as the author of one or more publications on eScholarship.
      If you no longer wish to receive emails from us regarding your publication(s), simply click the following link and
      we’ll be happy to
      <a href="<%= unsubscribeLink %>">unsubscribe you</a> from future mailings.</a>
    </p>
    <p>Note that replies to this message are routed to an unmonitored mailbox.</p>
  </body>
</html>
