From: eschol-no-reply@escholarship.org
Subject: View your eScholarship publication usage statistics

<html>
  <body>
    <p>Dear eScholarship Author,</p>
    <p>Thank you for depositing your publication(s) in <a href="https://escholarship.org">eScholarship</a>, UC’s open access repository. By making your work openly available, you are enabling researchers, students, policy makers, and the public worldwide to read and benefit from reliable scholarship that helps address today’s problems, informs the community and inspires future research. We welcome you to continue making your research available in eScholarship -- <a href="http://uc-oa.info/deposit">see the Office of Scholarly Communication for more information</a>. </p>
    <p>This is your regular reminder that current usage statistics for your publication(s) are always available via the link below:</p>
    <p>
      <a href="https://escholarship.org/uc/author/<%= person %>/stats">https://escholarship.org/uc/author/<%= person %>/stats</a>
    </p>
    <p>Additional information about these statistics reports is available in our
       <a href="https://help.escholarship.org/support/solutions/folders/9000181583">help center</a>.
    </p>
    <p>eScholarship provides publication information to <a href="https://help.escholarship.org/support/solutions/articles/9000133469">as many search and discovery services as possible</a>, since that is where most readers find our content. 

    You can also increase readership by referring people to your papers in eScholarship by using the SHARE button to share via email and social media or by copying the eScholarship URL or the DOI, if your publication has one.
</p>
    <p>Regards,<br/>
       The eScholarship Team<br/>
       <a href="mailto:help@escholarship.org">help@escholarship.org</a><br/>
      <span style="font-size: 80%;">eScholarship provides a suite of open access scholarly publishing and repository services that enable UC departments, research units, publishing programs, and individual scholars to have direct control over the creation and dissemination of their scholarship.</span>
    </p>
    <p>
      <a href="https://escholarship.org/aboutEschol">Learn more about eScholarship</a><br/>
      <a href="https://uc-oa.info">Learn more about UC’s Open Access Policy</a>
    </p>
    <hr/>
    <p>
      You are receiving this message because you were listed as the author of one or more publications in eScholarship. If you no longer wish to receive emails from us regarding your publication(s), simply click the following link to 
      <a href="<%= unsubscribeLink %>">unsubscribe from future mailings</a>. You will still be able to see your updated usage statistics at the above link at any time. </a>
    </p>
    <p>Note that replies to this message are routed to an unmonitored mailbox.</p>
  </body>
</html>
